<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <link rel="stylesheet" href="static/layui/module/dtreeTree/dtree/dtree.css">
    <link rel="stylesheet" href="static/layui/module/dtreeTree/dtree/font/dtreefont.css">
    <style type="text/css">
        .layui-tab{
            margin:  0;
        }
        .layadmin-iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
        iframe {
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
        }
        ul[lay-filter='test']>.layui-nav-item>dl{
            padding-left: 10px
        }
        .layui-layout-admin .layui-body {
            position: fixed;
            top: 60px;
            bottom: 0px;
        }
        .layui-tab-title {
            z-index: 999999999;
            background-color: white;
            position: fixed;
            left: 201px;
            height: 40px;
            width: 100%;
            white-space: nowrap;
            font-size: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            transition: all .2s;
            -webkit-transition: all .2s;
        }
        [v-cloak]{
            display:none;
        }



        .dtree-theme-item:hover {
            background-color: rgba(26, 27, 34, 0.81) !important;
        }
        .dtree-theme-item-this {
            background-color: rgba(26, 27, 34, 0.81) !important;
        }
        .dtree-icon-jia:before,.dtree-icon-jian:before,.dtree-icon-dian:before{
            color: #fe7786;
        }
        .layui-table-header,.layui-table{
            background-color: transparent!important;

        }
        .layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even){
            background-color: transparent!important;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" id="app">
    <div class="layui-header">
        <div class="layui-logo">伊酷卡修 v1.0</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" v-cloak>
            <li class="layui-nav-item " :class="{'layui-this':index==0}"  v-for="(item,index) in page.list">
                <a href="JavaScript:void(0)"   @click="navClick(item.id,$event)" >{{item.name}}</a>
            </li>
            <!--<li class="layui-nav-item"><a href="">商品</a></li>
            <li class="layui-nav-item"><a href="">前台</a></li>
            <li class="layui-nav-item"><a href="">代办</a></li>
            <li class="layui-nav-item"><a href="">客服</a></li>
            <li class="layui-nav-item"><a href="">数据</a></li>
            <li class="layui-nav-item"><a href="">财务</a></li>
            <li class="layui-nav-item"><a href="">人事</a></li>
            <li class="layui-nav-item"><a href="">系统</a></li>-->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="">退出账号</a></dd>
                </dl>
            </li>

        </ul>
    </div>

    <div class="layui-side layui-bg-black" v-cloak >
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <nav-item :nav-list="page.selectList"></nav-item>
        </div>
    </div>

    <div class="layui-body" v-cloak >
        <div class="layui-tab" lay-filter="tabPage" lay-allowclose="true" style="height: 100%" >
            <ul class="layui-tab-title">

            </ul>
            <div class="layui-tab-content" style=" position: relative;height: 91%;top: 40px;">
                <!-- <div class="layui-tab-item">
                    <iframe src="" class="layadmin-iframe" ></iframe>
                </div> -->
            </div>
        </div>
        <!-- 内容主体区域 -->
        <!--     <div style="padding: 15px;">内容主体区域</div> -->
    </div>


</div>
<template id="nav-item">
    <ul class="layui-nav layui-nav-tree " id="nav"  lay-filter="test" lay-shrink="all">
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:">主页</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:" class="site-demo-active" data-type="tabAdd" lay_id="00" title="首页" path="page/maintenance/home.html">首页</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"  v-for="(i,i_index) in navList">
            <a class="" href="javascript:">{{i.name}}</a>
            <dl class="layui-nav-child" v-if="i.childrens.length!=0">
                <dd v-for="(j,j_index) in i.childrens">
                    <a href="javascript:" class="site-demo-active" data-type="tabAdd" :lay_id="md5ed(j.name,j.path)" :title="j.name" :path="j.path">{{j.name}}</a>
                </dd>
            </dl>
        </li>
    </ul>
</template>
<template id="notice">
    <div style="padding:20px 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">
        <fieldset class="layui-elem-field layui-field-title" >
            <legend>今日提醒</legend>
        </fieldset>
        <div class="layui-row">
            <div class="layui-col-md4">
                <ul id="demoTree" class="dtree" data-id="0" data-value="001"></ul>
            </div>
            <div class="layui-col-md8">
                <table class="layui-hide" id="test"></table>
            </div>
        </div>
    </div>
</template>

<script src="static/js/jquery-3.4.1.min .js"></script>
<script src="static/js/vue.js"></script>
<script src="static/layui/layui.js"></script>
<script src="static/js/xadmin.js"></script>
<script>

    Vue.component("nav-item",{
        template:"#nav-item",
        props:['navList'],
        methods: {
            md5ed(name,path){
                return md5(name+path);
            }
        }

    });
    const vm = new Vue({
        el:"#app",
        data(){
            return {
                page:{
                    list:[],
                    selectList:[]
                }
            }
        },
        methods:{
            navClick:function (pid,event) {

                element.render();

                let array = this.page.list.filter(item=>item.id==pid;)[0].childrens;
                this.page.selectList = array;

                //layui-this
                $(event.toElement).parent().addClass("layui-this").siblings().removeClass("layui-this");

                start(); //重新渲染



            }
        },
        created:function () {
            let that = this;
            $.ajax({
                url:"http://127.0.0.1:8080/permissions/selectUserPerm?uid=1",
                type:"post",
                data:[],
                dataType:"json",
                xhrFields: {
                    withCredentials: true
                },
                success:function (result) {
                    that.page.list = result;
                    if(result.length >0){
                        that.page.selectList = result[0].childrens;
                    }

                    start();//等待vue 加载完 调用layui
                },
                error:function () {
                    
                }
            })
        }
    })
</script>
<script>
    function start(){
        //JavaScript代码区域
        layui.use(['element','layer'], function(){
            var element = layui.element,
                layer = layui.layer;





            setTimeout(function () {
                element.render('nav');
                $('.site-demo-active').on('click', function(){
                    var othis = $(this), type = othis.data('type');
                    active[type] ? active[type].call(this, othis) : '';
                });
            },100);

            let pageLis = $("[lay-filter=tabPage] ul>li"); //获取li节点
            let bool = true;
            for(let item of pageLis){       //判断页面是否打开过
                if($(item).attr("lay-id") == "00"){
                    element.tabChange('tabPage', "00");
                    bool = false;
                    break;
                }else{
                    bool = true
                }
            }
            if(bool){
                element.tabAdd('tabPage', {
                    title: '首页' //用于演示
                    ,content: '<iframe src="page/home.html" class="layadmin-iframe" ></iframe>'
                    ,id: '00'//实际使用一般是规定好的id，这里以时间戳模拟下
                });
                element.tabChange('tabPage', '00');
            }


            //侧边栏触发事件
            var active = {
                tabAdd: function(){
                    let lay_id = $(this).attr("lay_id"); //获取唯一id
                    let title = $(this).attr("title");   //获取标题
                    let path = $(this).attr("path");     //获取路劲
                    let pageLis = $("[lay-filter=tabPage] ul>li"); //获取li节点
                    for(let item of pageLis){       //判断页面是否打开过
                        if($(item).attr("lay-id") == lay_id){
                            element.tabChange('tabPage', lay_id);
                            return;
                        }
                    }

                    element.tabAdd('tabPage', {
                        title: title //标题
                        ,content: '<iframe src="'+path+'" class="layadmin-iframe" ></iframe>'
                        ,id: lay_id //实际使用一般是规定好的id
                    });

                    element.tabChange('tabPage', lay_id);
                }

            };

          /*  $('.site-demo-active').on('click', function(){
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });*/
            element.init();


        });
    }

    layui.extend({
        dtree: 'static/layui/module/dtreeTree/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    });

    //今日提醒
    layui.use(['table','layer','dtree'], function() {
        var table = layui.table,
            layer = layui.layer,
            dtree = layui.dtree;


        layer.open({
            type: 1
            , title: false //不显示标题栏
            , closeBtn: false
            , area: '1000px;'
            , offset: '100px'
            , shade: 0.8
            , id: 'LAY_layuipro' //设定一个id，防止重复弹出
            , btn: ['关闭']
            , btnAlign: 'c'
            , moveType: 1 //拖拽模式，0或者1
            , content: $("#notice").html()
            , success: function (layero) {


                console.log($("#demoTree"));
                var DemoTree = dtree.render({
                    elem: "#demoTree",
                    //data: data, // 使用data加载
                    url: "page/system/json.json", // 使用data加载
                    initLevel: "1", //全部不展开

                });

                // 绑定节点的双击
                dtree.on("nodedblclick('demoTree')", function(obj){
                    console.log(obj)


                });




                table.render({
                    elem: '#test'
                    //,url:'/demo/table/user/'*!/
                    ,data:[{
                        "id": "10001"
                        ,"username": "杜甫"
                        ,"email": "xianxin@layui.com"
                        ,"sex": "男"
                        ,"city": "浙江杭州"
                        ,"sign": "人生恰似一场修行"
                        ,"experience": "116"
                        ,"ip": "192.168.0.8"
                        ,"logins": "108"
                        ,"joinTime": "2016-10-14"
                        }]
                    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    ,cols: [[
                        {field:'id', width:80, title: '客户编码', sort: true}
                        ,{field:'username', width:80, title: '客户名称'}
                        ,{field:'sex', width:80, title: '详细地址', sort: true}
                        ,{field:'city', width:80, title: '联系人'}
                        ,{field:'city', width:80, title: '手机'}
                        ,{field:'city', width:80, title: '客户生日'}
                        ,{field:'city', width:80, title: '客户类别'}
                        ,{field:'city', width:80, title: '会员卡号'}
                        ,{field:'city', width:80, title: '入会日期'}
                        ,{field:'city', width:80, title: '会员到期'}
                        ,{field:'city', width:80, title: '备注'}
                        ,{field:'city', width:80, title: '建档日期'}
                        ,{field:'city', width:80, title: '服务顾问'}
                        ,{field:'city', width:80, title: '业务员电话'}
                        ,{field:'city', width:80, title: '账期（天）'}
                        ,{field:'city', width:80, title: '挂账额度'}
                        ,{field:'city', width:80, title: '累计积分'}
                        ,{field:'city', width:80, title: '定金余额'}
                        ,{field:'city', width:80, title: '客户省'}
                        ,{field:'city', width:80, title: '客户市'}
                        ,{field:'city', width:80, title: '客户区'}
                        ,{field:'city', width:80, title: '纳税人识别号'}
                        ,{field:'city', width:80, title: '注册电话'}
                        ,{field:'city', width:80, title: '开户银行'}
                        ,{field:'city', width:80, title: '银行账号'}
                        ,{field:'city', width:80, title: '注册地址'}
                        ,{field:'city', width:80, title: '其他一'}
                        ,{field:'city', width:80, title: '其他二'}
                        ,{field:'city', width:80, title: '其他三'}
                        ,{field:'city', width:80, title: '其他四'}
                    ]]
                });



            }
        });



    });
</script>
</body>
</html>