<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<!-- 
		mybatis foreach 查询，属性colleciont 中如果传入进来的是一个参数，数据类型为list则colleciont定义为list，数组类型用array
		separator:每次执行都会拼接，但是最后一次会省略
		item：当前循环的对象
	 -->
	
	<!--生成mybatis接口和实体的maven命令： mybatis-generator:generate -->
	
	<!-- ModuleExample example = new ModuleExample();
    	Criteria c = example.createCriteria();
    	c.andNameLike("%"+name+"%");
    	c.andParentidEqualTo(parentId); -->
	<classPathEntry
		location="C:\Users\Admin\.m2\repository\mysql\mysql-connector-java\5.1.6\mysql-connector-java-5.1.6.jar" />
	<context id="context1">
		<!-- 注释 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true" /><!-- 是否取消注释 -->
			<property name="suppressDate" value="true" /> <!-- 是否生成注释代时间戳 -->
		</commentGenerator>
		<jdbcConnection connectionURL="jdbc:mysql://localhost:3306/car?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMutilQueries=true"
			driverClass="com.mysql.jdbc.Driver" password="520Tanjiaqing" userId="root" />
		<!-- 实体生成位置 -->
		<javaModelGenerator targetPackage="com.accp.domain"
			targetProject="src/main/java" />
		<!-- mapper配置文件生成 -->
		<sqlMapGenerator targetPackage="mapper"
			targetProject="src/main/resources" />
		<!-- mapper接口生成 -->
		<javaClientGenerator targetPackage="com.accp.mapper"
			targetProject="src/main/java" type="XMLMAPPER" />
<!-- 			<table schema="Student" tableName="student"></table> -->
<!-- 			<table schema="Clazz" tableName="clazz"></table> -->
<!-- 		<table schema="Sys_permissions" tableName="sys_permissions"></table> -->
<!-- 		<table schema="Sys_roles" tableName="sys_roles"></table> -->
<!-- 		<table schema="Sys_roles_permissions" tableName="sys_roles_permissions"></table> -->
<!-- 		<table schema="Sys_users" tableName="sys_users"></table> -->
<!-- 		<table schema="Sys_users_roles" tableName="sys_users_roles"></table> -->
		<!--<table schema="Module" tableName="module">
		</table>-->
		<table schema="Client_carinfo" tableName="client_carinfo">

		</table>
		<table schema="Client_clientdata" tableName="client_clientdata">

		</table>
		<table schema="Client_clienttype" tableName="client_clienttype">

		</table>
		<table schema="Data_car_importdomestic" tableName="data_car_importdomestic">

		</table>
		<table schema="Data_car" tableName="data_car">

		</table>
		<table schema="Data_carbrand" tableName="data_carbrand">

		</table>
		<table schema="Data_coin_spray" tableName="data_coin_spray">

		</table>
		<table schema="Data_commodity" tableName="data_commodity">

		</table>
		<table schema="Data_commoditybrand" tableName="data_commoditybrand">

		</table>
		<table schema="Data_commoditytype" tableName="data_commoditytype">

		</table>
		<table schema="Data_engine_brand" tableName="data_engine_brand">

		</table>
		<table schema="Data_incomebrackets" tableName="data_incomebrackets">

		</table>
		<table schema="Data_linkman" tableName="data_linkman">

		</table>
		<table schema="Data_maintain" tableName="data_maintain">

		</table>
		<table schema="Data_maintenance_items" tableName="data_maintenance_items">

		</table>
		<table schema="Data_manufacturer" tableName="data_manufacturer">

		</table>
		<table schema="Data_minor_repair" tableName="data_minor_repair">

		</table>
		<table schema="Data_theoriginal" tableName="data_theoriginal">

		</table>
		<table schema="Front_cashier" tableName="front_cashier">

		</table>
		<table schema="Front_interior" tableName="front_interior">

		</table>
		<table schema="Maintain_completed" tableName="maintain_completed">

		</table>
		<table schema="Maintain_ewitem" tableName="maintain_ewitem">

		</table>
		<table schema="Maintain_maintenance_registration" tableName="maintain_maintenance_registration">

		</table>
		<table schema="Maintain_repair" tableName="maintain_repair">

		</table>
		<table schema="Maintain_rescue" tableName="maintain_rescue">

		</table>
		<table schema="Personnel_addressbook" tableName="personnel_addressbook">

		</table>
		<table schema="Personnel_artisan" tableName="personnel_artisan">

		</table>
		<table schema="Personnel_artisanclass" tableName="personnel_artisanclass">

		</table>
		<table schema="Personnel_artisanlevel" tableName="personnel_artisanlevel">

		</table>
		<table schema="Personnel_department" tableName="personnel_department">

		</table>
		<table schema="Personnel_departmenttype" tableName="personnel_departmenttype">

		</table>
		<table schema="Personnel_dimission" tableName="personnel_dimission">

		</table>
		<table schema="Personnel_legworkcat" tableName="personnel_legworkcat">

		</table>
		<table schema="Personnel_post" tableName="personnel_post">

		</table>
		<table schema="Personnel_staff" tableName="personnel_staff">

		</table>
		<table schema="System_permissions" tableName="system_permissions">

		</table>
		<table schema="System_roles" tableName="system_roles">

		</table>
		<table schema="System_roles_perms" tableName="system_roles_perms">

		</table>
		<table schema="System_users_roles" tableName="system_users_roles">

		</table>

	</context>
</generatorConfiguration>




<!-- <build>
		<plugins>
			<plugin>
				Mybatis-generator插件,用于自动生成Mapper和POJO
				<groupId>org.mybatis.generator</groupId>
				<artifactId>mybatis-generator-maven-plugin</artifactId>
				<version>1.3.2</version>
				<configuration>
					配置文件的位置
					<configurationFile>src/main/resources/mybatis-generator-config.xml</configurationFile>
					<verbose>true</verbose>
					<overwrite>true</overwrite>
				</configuration>
				<executions>
					<execution>
						<id>Generate MyBatis Artifacts</id>
						<phase>generate</phase>
						<goals>
							<goal>generate</goal>
						</goals>
					</execution>
				</executions>
				<dependencies>
					<dependency>
						<groupId>org.mybatis.generator</groupId>
						<artifactId>mybatis-generator-core</artifactId>
						<version>1.3.2</version>
					</dependency>
					<dependency>
                        <groupId>com.itfsw</groupId>
                        <artifactId>mybatis-generator-plugin</artifactId>
                        <version>1.3.0</version>
                    </dependency>
				</dependencies>
			</plugin>
		</plugins>
	</build> -->
	
	
	<!-- 集联查询 -->
	
	<!-- <resultMap id="BaseResultMap" type="com.accp.domain.Module" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="parentid" property="parentid" jdbcType="INTEGER" />
	  </resultMap>
	  
	  <resultMap type="com.accp.domain.Module" id="BaseResultMapExtends"
	  	 extends="BaseResultMap">
	  	<collection property="list" column="id" select="query"></collection>
	  </resultMap>
	  
	  
	  <select id="query" resultMap="BaseResultMapExtends">
	  	select * from module where parentid=#{id}
	  </select> -->