<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.ClientClientdataMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.ClientClientdata" >
    <id column="number" property="number" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="linkMan" property="linkman" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="bornDate" property="borndate" jdbcType="TIMESTAMP" />
    <result column="paymentDays" property="paymentdays" jdbcType="INTEGER" />
    <result column="paymentSize" property="paymentsize" jdbcType="INTEGER" />
    <result column="counselorId" property="counselorid" jdbcType="INTEGER" />
    <result column="counselorName" property="counselorname" jdbcType="VARCHAR" />
    <result column="advisorytelephone" property="advisorytelephone" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="taxpayerNumber" property="taxpayernumber" jdbcType="VARCHAR" />
    <result column="regosterPhone" property="regosterphone" jdbcType="VARCHAR" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="bankNumber" property="banknumber" jdbcType="VARCHAR" />
    <result column="registerAddress" property="registeraddress" jdbcType="VARCHAR" />
    <result column="rest" property="rest" jdbcType="VARCHAR" />
    <result column="typeId" property="typeid" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
    <result column="default3" property="default3" jdbcType="VARCHAR" />
    <result column="default4" property="default4" jdbcType="VARCHAR" />
    <result column="default5" property="default5" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="userSelectMap" type="com.accp.domain.ClientClientdata" extends="BaseResultMap">
    <association property="clientClienttype" javaType="com.accp.domain.ClientClienttype" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="clientType" property="clienttype" jdbcType="VARCHAR" />
      <result column="validty" property="validty" jdbcType="INTEGER" />
      <result column="cost" property="cost" jdbcType="REAL" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="type" property="type" jdbcType="VARCHAR" />
      <result column="discount" property="discount" jdbcType="REAL" />
      <result column="integral" property="integral" jdbcType="INTEGER" />
      <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
      <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
      <result column="default1" property="default1" jdbcType="VARCHAR" />
      <result column="default2" property="default2" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <select id="selectClient" resultMap="userSelectMap" >
    SELECT `client_clientdata`.*,`client_clienttype`.* FROM `client_clientdata`
    LEFT JOIN `client_clienttype` ON `client_clienttype`.`id` = `client_clientdata`.typeId
    LEFT JOIN `client_carinfo` ON `client_carinfo`.`clientId` = `client_clientdata`.`number`
    where 1=1
    <if test="clientClientdata.number != null and clientClientdata.number !=''">/*id*/
      and `client_clientdata`.number = #{clientClientdata.number}
    </if>
    <if test="clientClientdata.name != null and clientClientdata.name != ''">/*客户名称*/
      AND `client_clientdata`.name like CONCAT("%",#{clientClientdata.name},"%")

    </if>
    <if test="clientClientdata.typeid != null and clientClientdata.typeid != ''">/*客户类型*/
      AND clientClientdata.`typeid` = #{clientClientdata.`typeid`}
    </if>
    <if test="clientClientdata.linkman != null and clientClientdata.linkman != ''">/*联系人*/
      AND `client_clientdata`.linkman like  CONCAT("%", #{clientClientdata.linkman},"%")

    </if>
    <if test="clientClientdata.phone != null and clientClientdata.phone != ''">/*手机号*/
      AND `client_clientdata`.phone like CONCAT("%",#{clientClientdata.phone},"%")

    </if>
    <if test="clientClientdata.address != null and clientClientdata.address != ''">/*地址*/
      AND `client_clientdata`.address like CONCAT("%",#{clientClientdata.address},"%")

    </if>
    <if test="clientClientdata.remark != null and clientClientdata.remark != ''">/*备注*/
      AND `client_clientdata`.remark like CONCAT("%",#{clientClientdata.remark},"%")

    </if>
    <if test="clientClientdata.borndate != null and clientClientdata.borndate != ''"> /*客户生日*/
      AND `client_clientdata`.`bornDate`
      BETWEEN SUBSTRING_INDEX(#{clientClientdata.borndate},' - ', 1) AND SUBSTRING_INDEX(#{clientClientdata.borndate},' - ', -1)
    </if>
    <if test="clientClientdata.banknumber != null and clientClientdata.banknumber !=''">/*银行卡号*/
      AND `client_clientdata`.banknumber like CONCAT("%",#{clientClientdata.banknumber},"%")

    </if>
    <if test="clientClientdata.counselorname != null and clientClientdata.counselorname != ''" >/*顾问姓名*/
      AND `client_clientdata`.counselorname like CONCAT("%",#{clientClientdata.counselorname},"%")

    </if>
    <if test="clientClientdata.province != null and clientClientdata.province != ''">/*省*/
      AND `client_clientdata`.province like CONCAT("%",#{clientClientdata.province},"%")

    </if>
    <if test="clientClientdata.city != null and clientClientdata.city !=''">/*市*/
      AND `client_clientdata`.city like CONCAT("%",#{clientClientdata.city},"%")

    </if>
    <if test="clientClientdata.county != null and clientClientdata.county !=''"> /*县*/
      AND `client_clientdata`.county like CONCAT("%",#{clientClientdata.county},"%")

    </if>
    <if test="clientClientdata.advisorytelephone != null and clientClientdata.advisorytelephone != ''"> /*顾问电话*/
      AND `client_clientdata`.advisorytelephone like CONCAT("%",#{clientClientdata.advisorytelephone},"%")

    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.carNumber !=null and clientClientdata.clientClienttype.carNumber!=''">/*车牌号码*/
      AND `client_carinfo`.carNumber LIKE CONCAT("%",#{clientClientdata.clientClienttype.carnumber},"%")
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.carbrandid !=null and clientClientdata.clientClienttype.carbrandid !=''">/*车辆品牌*/
      AND `client_carinfo`.carbrandid LIKE CONCAT("%",#{clientClientdata.clientClienttype.carbrandid},"%")
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.carid !=null and clientClientdata.clientClienttype.carid !=''">/*车辆型号*/
      AND `client_carinfo`.carid LIKE CONCAT("%",#{clientClientdata.clientClienttype.carid},"%")
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.carer !=null and clientClientdata.clientClienttype.carer != ''">/*驾驶员*/
      AND `client_carinfo`.carer LIKE CONCAT("%",#{clientClientdata.clientClienttype.carer},"%")
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.carerphone !=null and clientClientdata.clientClienttype.carerphone !=''">/*驾驶员电话*/
      AND `client_carinfo`.carerphone LIKE CONCAT("%",#{clientClientdata.clientClienttype.carerphone},"%")
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.borndate !=null and clientClientdata.clientClienttype.borndate !=''">/*驾驶员出生日期*/
      AND `client_carinfo`.`borndate`
      BETWEEN SUBSTRING_INDEX(#{clientClientdata.clientClienttype.`borndate`},' - ', 1) AND SUBSTRING_INDEX(#{clientClientdata.clientClienttype.`borndate`},' - ', -1)
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.affiliation !=null and clientClientdata.clientClienttype.affiliation !=''">/*车辆归属*/
      AND `client_carinfo`.affiliation LIKE CONCAT("%",#{clientClientdata.clientClienttype.affiliation},"%")
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.drivingLicence !=null and clientClientdata.clientClienttype.drivingLicence !=''">/*驾驶证到期时间*/
      AND `client_carinfo`.`drivingLicence`
      BETWEEN SUBSTRING_INDEX(#{clientClientdata.clientClienttype.`drivingLicence`},' - ', 1) AND SUBSTRING_INDEX(#{clientClientdata.clientClienttype.`drivingLicence`},' - ', -1)
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.framenumber !=null and clientClientdata.clientClienttype.framenumber !=''">/*车架号*/
      AND `client_carinfo`.framenumber LIKE CONCAT("%",#{clientClientdata.clientClienttype.framenumber},"%")
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.enginenumber !=null and clientClientdata.clientClienttype.enginenumber !=''">/*发动机号*/
      AND `client_carinfo`.enginenumber LIKE CONCAT("%",#{clientClientdata.clientClienttype.enginenumber},"%")
    </if>
    <if test="clientClientdata.clientClienttype != null and clientClientdata.clientClienttype.yearprice !=null and clientClientdata.clientClienttype.yearprice !=''">
      AND `client_carinfo`.yearprice LIKE CONCAT("%",#{clientClientdata.clientClienttype.yearprice},"%")
    </if>
  </select>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    number, name, linkMan, phone, address, bornDate, paymentDays, paymentSize, counselorId, 
    counselorName, advisorytelephone, province, city, county, remark, taxpayerNumber, 
    regosterPhone, bank, bankNumber, registerAddress, rest, typeId, date, password, default1, 
    default2, default3, default4, default5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.ClientClientdataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from client_clientdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from client_clientdata
    where number = #{number,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client_clientdata
    where number = #{number,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.ClientClientdataExample" >
    delete from client_clientdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.ClientClientdata" >
    insert into client_clientdata (number, name, linkMan, 
      phone, address, bornDate, 
      paymentDays, paymentSize, counselorId, 
      counselorName, advisorytelephone, province, 
      city, county, remark, 
      taxpayerNumber, regosterPhone, bank, 
      bankNumber, registerAddress, rest, 
      typeId, date, password, 
      default1, default2, default3, 
      default4, default5)
    values (#{number,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{borndate,jdbcType=TIMESTAMP}, 
      #{paymentdays,jdbcType=INTEGER}, #{paymentsize,jdbcType=INTEGER}, #{counselorid,jdbcType=INTEGER}, 
      #{counselorname,jdbcType=VARCHAR}, #{advisorytelephone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{taxpayernumber,jdbcType=VARCHAR}, #{regosterphone,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{banknumber,jdbcType=VARCHAR}, #{registeraddress,jdbcType=VARCHAR}, #{rest,jdbcType=VARCHAR}, 
      #{typeid,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{password,jdbcType=VARCHAR}, 
      #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR}, #{default3,jdbcType=VARCHAR}, 
      #{default4,jdbcType=VARCHAR}, #{default5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.ClientClientdata" >
    insert into client_clientdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="linkman != null" >
        linkMan,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="borndate != null" >
        bornDate,
      </if>
      <if test="paymentdays != null" >
        paymentDays,
      </if>
      <if test="paymentsize != null" >
        paymentSize,
      </if>
      <if test="counselorid != null" >
        counselorId,
      </if>
      <if test="counselorname != null" >
        counselorName,
      </if>
      <if test="advisorytelephone != null" >
        advisorytelephone,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="taxpayernumber != null" >
        taxpayerNumber,
      </if>
      <if test="regosterphone != null" >
        regosterPhone,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="banknumber != null" >
        bankNumber,
      </if>
      <if test="registeraddress != null" >
        registerAddress,
      </if>
      <if test="rest != null" >
        rest,
      </if>
      <if test="typeid != null" >
        typeId,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
      <if test="default3 != null" >
        default3,
      </if>
      <if test="default4 != null" >
        default4,
      </if>
      <if test="default5 != null" >
        default5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="borndate != null" >
        #{borndate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentdays != null" >
        #{paymentdays,jdbcType=INTEGER},
      </if>
      <if test="paymentsize != null" >
        #{paymentsize,jdbcType=INTEGER},
      </if>
      <if test="counselorid != null" >
        #{counselorid,jdbcType=INTEGER},
      </if>
      <if test="counselorname != null" >
        #{counselorname,jdbcType=VARCHAR},
      </if>
      <if test="advisorytelephone != null" >
        #{advisorytelephone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="taxpayernumber != null" >
        #{taxpayernumber,jdbcType=VARCHAR},
      </if>
      <if test="regosterphone != null" >
        #{regosterphone,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null" >
        #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="registeraddress != null" >
        #{registeraddress,jdbcType=VARCHAR},
      </if>
      <if test="rest != null" >
        #{rest,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
      <if test="default3 != null" >
        #{default3,jdbcType=VARCHAR},
      </if>
      <if test="default4 != null" >
        #{default4,jdbcType=VARCHAR},
      </if>
      <if test="default5 != null" >
        #{default5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.ClientClientdataExample" resultType="java.lang.Integer" >
    select count(*) from client_clientdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update client_clientdata
    <set >
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        linkMan = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.borndate != null" >
        bornDate = #{record.borndate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paymentdays != null" >
        paymentDays = #{record.paymentdays,jdbcType=INTEGER},
      </if>
      <if test="record.paymentsize != null" >
        paymentSize = #{record.paymentsize,jdbcType=INTEGER},
      </if>
      <if test="record.counselorid != null" >
        counselorId = #{record.counselorid,jdbcType=INTEGER},
      </if>
      <if test="record.counselorname != null" >
        counselorName = #{record.counselorname,jdbcType=VARCHAR},
      </if>
      <if test="record.advisorytelephone != null" >
        advisorytelephone = #{record.advisorytelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.county != null" >
        county = #{record.county,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.taxpayernumber != null" >
        taxpayerNumber = #{record.taxpayernumber,jdbcType=VARCHAR},
      </if>
      <if test="record.regosterphone != null" >
        regosterPhone = #{record.regosterphone,jdbcType=VARCHAR},
      </if>
      <if test="record.bank != null" >
        bank = #{record.bank,jdbcType=VARCHAR},
      </if>
      <if test="record.banknumber != null" >
        bankNumber = #{record.banknumber,jdbcType=VARCHAR},
      </if>
      <if test="record.registeraddress != null" >
        registerAddress = #{record.registeraddress,jdbcType=VARCHAR},
      </if>
      <if test="record.rest != null" >
        rest = #{record.rest,jdbcType=VARCHAR},
      </if>
      <if test="record.typeid != null" >
        typeId = #{record.typeid,jdbcType=INTEGER},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
      <if test="record.default3 != null" >
        default3 = #{record.default3,jdbcType=VARCHAR},
      </if>
      <if test="record.default4 != null" >
        default4 = #{record.default4,jdbcType=VARCHAR},
      </if>
      <if test="record.default5 != null" >
        default5 = #{record.default5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update client_clientdata
    set number = #{record.number,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      linkMan = #{record.linkman,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      bornDate = #{record.borndate,jdbcType=TIMESTAMP},
      paymentDays = #{record.paymentdays,jdbcType=INTEGER},
      paymentSize = #{record.paymentsize,jdbcType=INTEGER},
      counselorId = #{record.counselorid,jdbcType=INTEGER},
      counselorName = #{record.counselorname,jdbcType=VARCHAR},
      advisorytelephone = #{record.advisorytelephone,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      county = #{record.county,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      taxpayerNumber = #{record.taxpayernumber,jdbcType=VARCHAR},
      regosterPhone = #{record.regosterphone,jdbcType=VARCHAR},
      bank = #{record.bank,jdbcType=VARCHAR},
      bankNumber = #{record.banknumber,jdbcType=VARCHAR},
      registerAddress = #{record.registeraddress,jdbcType=VARCHAR},
      rest = #{record.rest,jdbcType=VARCHAR},
      typeId = #{record.typeid,jdbcType=INTEGER},
      date = #{record.date,jdbcType=TIMESTAMP},
      password = #{record.password,jdbcType=VARCHAR},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR},
      default3 = #{record.default3,jdbcType=VARCHAR},
      default4 = #{record.default4,jdbcType=VARCHAR},
      default5 = #{record.default5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.ClientClientdata" >
    update client_clientdata
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkMan = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="borndate != null" >
        bornDate = #{borndate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentdays != null" >
        paymentDays = #{paymentdays,jdbcType=INTEGER},
      </if>
      <if test="paymentsize != null" >
        paymentSize = #{paymentsize,jdbcType=INTEGER},
      </if>
      <if test="counselorid != null" >
        counselorId = #{counselorid,jdbcType=INTEGER},
      </if>
      <if test="counselorname != null" >
        counselorName = #{counselorname,jdbcType=VARCHAR},
      </if>
      <if test="advisorytelephone != null" >
        advisorytelephone = #{advisorytelephone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="taxpayernumber != null" >
        taxpayerNumber = #{taxpayernumber,jdbcType=VARCHAR},
      </if>
      <if test="regosterphone != null" >
        regosterPhone = #{regosterphone,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null" >
        bankNumber = #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="registeraddress != null" >
        registerAddress = #{registeraddress,jdbcType=VARCHAR},
      </if>
      <if test="rest != null" >
        rest = #{rest,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        typeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
      <if test="default3 != null" >
        default3 = #{default3,jdbcType=VARCHAR},
      </if>
      <if test="default4 != null" >
        default4 = #{default4,jdbcType=VARCHAR},
      </if>
      <if test="default5 != null" >
        default5 = #{default5,jdbcType=VARCHAR},
      </if>
    </set>
    where number = #{number,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.ClientClientdata" >
    update client_clientdata
    set name = #{name,jdbcType=VARCHAR},
      linkMan = #{linkman,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      bornDate = #{borndate,jdbcType=TIMESTAMP},
      paymentDays = #{paymentdays,jdbcType=INTEGER},
      paymentSize = #{paymentsize,jdbcType=INTEGER},
      counselorId = #{counselorid,jdbcType=INTEGER},
      counselorName = #{counselorname,jdbcType=VARCHAR},
      advisorytelephone = #{advisorytelephone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      taxpayerNumber = #{taxpayernumber,jdbcType=VARCHAR},
      regosterPhone = #{regosterphone,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      bankNumber = #{banknumber,jdbcType=VARCHAR},
      registerAddress = #{registeraddress,jdbcType=VARCHAR},
      rest = #{rest,jdbcType=VARCHAR},
      typeId = #{typeid,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      password = #{password,jdbcType=VARCHAR},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR},
      default3 = #{default3,jdbcType=VARCHAR},
      default4 = #{default4,jdbcType=VARCHAR},
      default5 = #{default5,jdbcType=VARCHAR}
    where number = #{number,jdbcType=INTEGER}
  </update>
</mapper>