<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.ClientCarinfoMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.ClientCarinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="clientId" property="clientid" jdbcType="INTEGER" />
    <result column="carNumber" property="carnumber" jdbcType="VARCHAR" />
    <result column="carBrandId" property="carbrandid" jdbcType="INTEGER" />
    <result column="carId" property="carid" jdbcType="INTEGER" />
    <result column="carer" property="carer" jdbcType="VARCHAR" />
    <result column="carerPhone" property="carerphone" jdbcType="VARCHAR" />
    <result column="bornDate" property="borndate" jdbcType="TIMESTAMP" />
    <result column="affiliation" property="affiliation" jdbcType="VARCHAR" />
    <result column="drivingLicence" property="drivinglicence" jdbcType="TIMESTAMP" />
    <result column="frameNumber" property="framenumber" jdbcType="VARCHAR" />
    <result column="engineNumber" property="enginenumber" jdbcType="VARCHAR" />
    <result column="yearPrice" property="yearprice" jdbcType="REAL" />
    <result column="mileage" property="mileage" jdbcType="REAL" />
    <result column="engineId" property="engineid" jdbcType="INTEGER" />
    <result column="carrying" property="carrying" jdbcType="VARCHAR" />
    <result column="buyDate" property="buydate" jdbcType="TIMESTAMP" />
    <result column="dutyDate" property="dutydate" jdbcType="TIMESTAMP" />
    <result column="carcheckDate" property="carcheckdate" jdbcType="TIMESTAMP" />
    <result column="fuelOilType" property="fueloiltype" jdbcType="VARCHAR" />
    <result column="carSeries" property="carseries" jdbcType="VARCHAR" />
    <result column="jqinsurance" property="jqinsurance" jdbcType="VARCHAR" />
    <result column="jqinsuranceDate" property="jqinsurancedate" jdbcType="TIMESTAMP" />
    <result column="syinsurance" property="syinsurance" jdbcType="VARCHAR" />
    <result column="syinsuranceDate" property="syinsurancedate" jdbcType="TIMESTAMP" />
    <result column="maintain" property="maintain" jdbcType="VARCHAR" />
    <result column="maintainDate" property="maintaindate" jdbcType="TIMESTAMP" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clientId, carNumber, carBrandId, carId, carer, carerPhone, bornDate, affiliation, 
    drivingLicence, frameNumber, engineNumber, yearPrice, mileage, engineId, carrying, 
    buyDate, dutyDate, carcheckDate, fuelOilType, carSeries, jqinsurance, jqinsuranceDate, 
    syinsurance, syinsuranceDate, maintain, maintainDate, default1, default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.ClientCarinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from client_carinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from client_carinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client_carinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.ClientCarinfoExample" >
    delete from client_carinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.ClientCarinfo" >
    insert into client_carinfo (id, clientId, carNumber, 
      carBrandId, carId, carer, 
      carerPhone, bornDate, affiliation, 
      drivingLicence, frameNumber, engineNumber, 
      yearPrice, mileage, engineId, 
      carrying, buyDate, dutyDate, 
      carcheckDate, fuelOilType, carSeries, 
      jqinsurance, jqinsuranceDate, syinsurance, 
      syinsuranceDate, maintain, maintainDate, 
      default1, default2)
    values (#{id,jdbcType=INTEGER}, #{clientid,jdbcType=INTEGER}, #{carnumber,jdbcType=VARCHAR}, 
      #{carbrandid,jdbcType=INTEGER}, #{carid,jdbcType=INTEGER}, #{carer,jdbcType=VARCHAR}, 
      #{carerphone,jdbcType=VARCHAR}, #{borndate,jdbcType=TIMESTAMP}, #{affiliation,jdbcType=VARCHAR}, 
      #{drivinglicence,jdbcType=TIMESTAMP}, #{framenumber,jdbcType=VARCHAR}, #{enginenumber,jdbcType=VARCHAR}, 
      #{yearprice,jdbcType=REAL}, #{mileage,jdbcType=REAL}, #{engineid,jdbcType=INTEGER}, 
      #{carrying,jdbcType=VARCHAR}, #{buydate,jdbcType=TIMESTAMP}, #{dutydate,jdbcType=TIMESTAMP}, 
      #{carcheckdate,jdbcType=TIMESTAMP}, #{fueloiltype,jdbcType=VARCHAR}, #{carseries,jdbcType=VARCHAR}, 
      #{jqinsurance,jdbcType=VARCHAR}, #{jqinsurancedate,jdbcType=TIMESTAMP}, #{syinsurance,jdbcType=VARCHAR}, 
      #{syinsurancedate,jdbcType=TIMESTAMP}, #{maintain,jdbcType=VARCHAR}, #{maintaindate,jdbcType=TIMESTAMP}, 
      #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.ClientCarinfo" >
    insert into client_carinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clientid != null" >
        clientId,
      </if>
      <if test="carnumber != null" >
        carNumber,
      </if>
      <if test="carbrandid != null" >
        carBrandId,
      </if>
      <if test="carid != null" >
        carId,
      </if>
      <if test="carer != null" >
        carer,
      </if>
      <if test="carerphone != null" >
        carerPhone,
      </if>
      <if test="borndate != null" >
        bornDate,
      </if>
      <if test="affiliation != null" >
        affiliation,
      </if>
      <if test="drivinglicence != null" >
        drivingLicence,
      </if>
      <if test="framenumber != null" >
        frameNumber,
      </if>
      <if test="enginenumber != null" >
        engineNumber,
      </if>
      <if test="yearprice != null" >
        yearPrice,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="engineid != null" >
        engineId,
      </if>
      <if test="carrying != null" >
        carrying,
      </if>
      <if test="buydate != null" >
        buyDate,
      </if>
      <if test="dutydate != null" >
        dutyDate,
      </if>
      <if test="carcheckdate != null" >
        carcheckDate,
      </if>
      <if test="fueloiltype != null" >
        fuelOilType,
      </if>
      <if test="carseries != null" >
        carSeries,
      </if>
      <if test="jqinsurance != null" >
        jqinsurance,
      </if>
      <if test="jqinsurancedate != null" >
        jqinsuranceDate,
      </if>
      <if test="syinsurance != null" >
        syinsurance,
      </if>
      <if test="syinsurancedate != null" >
        syinsuranceDate,
      </if>
      <if test="maintain != null" >
        maintain,
      </if>
      <if test="maintaindate != null" >
        maintainDate,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientid != null" >
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="carnumber != null" >
        #{carnumber,jdbcType=VARCHAR},
      </if>
      <if test="carbrandid != null" >
        #{carbrandid,jdbcType=INTEGER},
      </if>
      <if test="carid != null" >
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="carer != null" >
        #{carer,jdbcType=VARCHAR},
      </if>
      <if test="carerphone != null" >
        #{carerphone,jdbcType=VARCHAR},
      </if>
      <if test="borndate != null" >
        #{borndate,jdbcType=TIMESTAMP},
      </if>
      <if test="affiliation != null" >
        #{affiliation,jdbcType=VARCHAR},
      </if>
      <if test="drivinglicence != null" >
        #{drivinglicence,jdbcType=TIMESTAMP},
      </if>
      <if test="framenumber != null" >
        #{framenumber,jdbcType=VARCHAR},
      </if>
      <if test="enginenumber != null" >
        #{enginenumber,jdbcType=VARCHAR},
      </if>
      <if test="yearprice != null" >
        #{yearprice,jdbcType=REAL},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=REAL},
      </if>
      <if test="engineid != null" >
        #{engineid,jdbcType=INTEGER},
      </if>
      <if test="carrying != null" >
        #{carrying,jdbcType=VARCHAR},
      </if>
      <if test="buydate != null" >
        #{buydate,jdbcType=TIMESTAMP},
      </if>
      <if test="dutydate != null" >
        #{dutydate,jdbcType=TIMESTAMP},
      </if>
      <if test="carcheckdate != null" >
        #{carcheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fueloiltype != null" >
        #{fueloiltype,jdbcType=VARCHAR},
      </if>
      <if test="carseries != null" >
        #{carseries,jdbcType=VARCHAR},
      </if>
      <if test="jqinsurance != null" >
        #{jqinsurance,jdbcType=VARCHAR},
      </if>
      <if test="jqinsurancedate != null" >
        #{jqinsurancedate,jdbcType=TIMESTAMP},
      </if>
      <if test="syinsurance != null" >
        #{syinsurance,jdbcType=VARCHAR},
      </if>
      <if test="syinsurancedate != null" >
        #{syinsurancedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maintain != null" >
        #{maintain,jdbcType=VARCHAR},
      </if>
      <if test="maintaindate != null" >
        #{maintaindate,jdbcType=TIMESTAMP},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.ClientCarinfoExample" resultType="java.lang.Integer" >
    select count(*) from client_carinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update client_carinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clientid != null" >
        clientId = #{record.clientid,jdbcType=INTEGER},
      </if>
      <if test="record.carnumber != null" >
        carNumber = #{record.carnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.carbrandid != null" >
        carBrandId = #{record.carbrandid,jdbcType=INTEGER},
      </if>
      <if test="record.carid != null" >
        carId = #{record.carid,jdbcType=INTEGER},
      </if>
      <if test="record.carer != null" >
        carer = #{record.carer,jdbcType=VARCHAR},
      </if>
      <if test="record.carerphone != null" >
        carerPhone = #{record.carerphone,jdbcType=VARCHAR},
      </if>
      <if test="record.borndate != null" >
        bornDate = #{record.borndate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.affiliation != null" >
        affiliation = #{record.affiliation,jdbcType=VARCHAR},
      </if>
      <if test="record.drivinglicence != null" >
        drivingLicence = #{record.drivinglicence,jdbcType=TIMESTAMP},
      </if>
      <if test="record.framenumber != null" >
        frameNumber = #{record.framenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.enginenumber != null" >
        engineNumber = #{record.enginenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.yearprice != null" >
        yearPrice = #{record.yearprice,jdbcType=REAL},
      </if>
      <if test="record.mileage != null" >
        mileage = #{record.mileage,jdbcType=REAL},
      </if>
      <if test="record.engineid != null" >
        engineId = #{record.engineid,jdbcType=INTEGER},
      </if>
      <if test="record.carrying != null" >
        carrying = #{record.carrying,jdbcType=VARCHAR},
      </if>
      <if test="record.buydate != null" >
        buyDate = #{record.buydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dutydate != null" >
        dutyDate = #{record.dutydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.carcheckdate != null" >
        carcheckDate = #{record.carcheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fueloiltype != null" >
        fuelOilType = #{record.fueloiltype,jdbcType=VARCHAR},
      </if>
      <if test="record.carseries != null" >
        carSeries = #{record.carseries,jdbcType=VARCHAR},
      </if>
      <if test="record.jqinsurance != null" >
        jqinsurance = #{record.jqinsurance,jdbcType=VARCHAR},
      </if>
      <if test="record.jqinsurancedate != null" >
        jqinsuranceDate = #{record.jqinsurancedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.syinsurance != null" >
        syinsurance = #{record.syinsurance,jdbcType=VARCHAR},
      </if>
      <if test="record.syinsurancedate != null" >
        syinsuranceDate = #{record.syinsurancedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.maintain != null" >
        maintain = #{record.maintain,jdbcType=VARCHAR},
      </if>
      <if test="record.maintaindate != null" >
        maintainDate = #{record.maintaindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update client_carinfo
    set id = #{record.id,jdbcType=INTEGER},
      clientId = #{record.clientid,jdbcType=INTEGER},
      carNumber = #{record.carnumber,jdbcType=VARCHAR},
      carBrandId = #{record.carbrandid,jdbcType=INTEGER},
      carId = #{record.carid,jdbcType=INTEGER},
      carer = #{record.carer,jdbcType=VARCHAR},
      carerPhone = #{record.carerphone,jdbcType=VARCHAR},
      bornDate = #{record.borndate,jdbcType=TIMESTAMP},
      affiliation = #{record.affiliation,jdbcType=VARCHAR},
      drivingLicence = #{record.drivinglicence,jdbcType=TIMESTAMP},
      frameNumber = #{record.framenumber,jdbcType=VARCHAR},
      engineNumber = #{record.enginenumber,jdbcType=VARCHAR},
      yearPrice = #{record.yearprice,jdbcType=REAL},
      mileage = #{record.mileage,jdbcType=REAL},
      engineId = #{record.engineid,jdbcType=INTEGER},
      carrying = #{record.carrying,jdbcType=VARCHAR},
      buyDate = #{record.buydate,jdbcType=TIMESTAMP},
      dutyDate = #{record.dutydate,jdbcType=TIMESTAMP},
      carcheckDate = #{record.carcheckdate,jdbcType=TIMESTAMP},
      fuelOilType = #{record.fueloiltype,jdbcType=VARCHAR},
      carSeries = #{record.carseries,jdbcType=VARCHAR},
      jqinsurance = #{record.jqinsurance,jdbcType=VARCHAR},
      jqinsuranceDate = #{record.jqinsurancedate,jdbcType=TIMESTAMP},
      syinsurance = #{record.syinsurance,jdbcType=VARCHAR},
      syinsuranceDate = #{record.syinsurancedate,jdbcType=TIMESTAMP},
      maintain = #{record.maintain,jdbcType=VARCHAR},
      maintainDate = #{record.maintaindate,jdbcType=TIMESTAMP},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.ClientCarinfo" >
    update client_carinfo
    <set >
      <if test="clientid != null" >
        clientId = #{clientid,jdbcType=INTEGER},
      </if>
      <if test="carnumber != null" >
        carNumber = #{carnumber,jdbcType=VARCHAR},
      </if>
      <if test="carbrandid != null" >
        carBrandId = #{carbrandid,jdbcType=INTEGER},
      </if>
      <if test="carid != null" >
        carId = #{carid,jdbcType=INTEGER},
      </if>
      <if test="carer != null" >
        carer = #{carer,jdbcType=VARCHAR},
      </if>
      <if test="carerphone != null" >
        carerPhone = #{carerphone,jdbcType=VARCHAR},
      </if>
      <if test="borndate != null" >
        bornDate = #{borndate,jdbcType=TIMESTAMP},
      </if>
      <if test="affiliation != null" >
        affiliation = #{affiliation,jdbcType=VARCHAR},
      </if>
      <if test="drivinglicence != null" >
        drivingLicence = #{drivinglicence,jdbcType=TIMESTAMP},
      </if>
      <if test="framenumber != null" >
        frameNumber = #{framenumber,jdbcType=VARCHAR},
      </if>
      <if test="enginenumber != null" >
        engineNumber = #{enginenumber,jdbcType=VARCHAR},
      </if>
      <if test="yearprice != null" >
        yearPrice = #{yearprice,jdbcType=REAL},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=REAL},
      </if>
      <if test="engineid != null" >
        engineId = #{engineid,jdbcType=INTEGER},
      </if>
      <if test="carrying != null" >
        carrying = #{carrying,jdbcType=VARCHAR},
      </if>
      <if test="buydate != null" >
        buyDate = #{buydate,jdbcType=TIMESTAMP},
      </if>
      <if test="dutydate != null" >
        dutyDate = #{dutydate,jdbcType=TIMESTAMP},
      </if>
      <if test="carcheckdate != null" >
        carcheckDate = #{carcheckdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fueloiltype != null" >
        fuelOilType = #{fueloiltype,jdbcType=VARCHAR},
      </if>
      <if test="carseries != null" >
        carSeries = #{carseries,jdbcType=VARCHAR},
      </if>
      <if test="jqinsurance != null" >
        jqinsurance = #{jqinsurance,jdbcType=VARCHAR},
      </if>
      <if test="jqinsurancedate != null" >
        jqinsuranceDate = #{jqinsurancedate,jdbcType=TIMESTAMP},
      </if>
      <if test="syinsurance != null" >
        syinsurance = #{syinsurance,jdbcType=VARCHAR},
      </if>
      <if test="syinsurancedate != null" >
        syinsuranceDate = #{syinsurancedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maintain != null" >
        maintain = #{maintain,jdbcType=VARCHAR},
      </if>
      <if test="maintaindate != null" >
        maintainDate = #{maintaindate,jdbcType=TIMESTAMP},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.ClientCarinfo" >
    update client_carinfo
    set clientId = #{clientid,jdbcType=INTEGER},
      carNumber = #{carnumber,jdbcType=VARCHAR},
      carBrandId = #{carbrandid,jdbcType=INTEGER},
      carId = #{carid,jdbcType=INTEGER},
      carer = #{carer,jdbcType=VARCHAR},
      carerPhone = #{carerphone,jdbcType=VARCHAR},
      bornDate = #{borndate,jdbcType=TIMESTAMP},
      affiliation = #{affiliation,jdbcType=VARCHAR},
      drivingLicence = #{drivinglicence,jdbcType=TIMESTAMP},
      frameNumber = #{framenumber,jdbcType=VARCHAR},
      engineNumber = #{enginenumber,jdbcType=VARCHAR},
      yearPrice = #{yearprice,jdbcType=REAL},
      mileage = #{mileage,jdbcType=REAL},
      engineId = #{engineid,jdbcType=INTEGER},
      carrying = #{carrying,jdbcType=VARCHAR},
      buyDate = #{buydate,jdbcType=TIMESTAMP},
      dutyDate = #{dutydate,jdbcType=TIMESTAMP},
      carcheckDate = #{carcheckdate,jdbcType=TIMESTAMP},
      fuelOilType = #{fueloiltype,jdbcType=VARCHAR},
      carSeries = #{carseries,jdbcType=VARCHAR},
      jqinsurance = #{jqinsurance,jdbcType=VARCHAR},
      jqinsuranceDate = #{jqinsurancedate,jdbcType=TIMESTAMP},
      syinsurance = #{syinsurance,jdbcType=VARCHAR},
      syinsuranceDate = #{syinsurancedate,jdbcType=TIMESTAMP},
      maintain = #{maintain,jdbcType=VARCHAR},
      maintainDate = #{maintaindate,jdbcType=TIMESTAMP},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>