<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.DataMaintenanceItemsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.DataMaintenanceItems" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="itemsName" property="itemsname" jdbcType="VARCHAR" />
    <result column="typeId" property="typeid" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="normalPrice" property="normalprice" jdbcType="REAL" />
    <result column="memberPrice" property="memberprice" jdbcType="REAL" />
    <result column="vipPrice" property="vipprice" jdbcType="REAL" />
    <result column="negotiatedPrice" property="negotiatedprice" jdbcType="REAL" />
    <result column="claimPrice" property="claimprice" jdbcType="REAL" />
    <result column="insurancePrice" property="insuranceprice" jdbcType="REAL" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMapPlus" type="com.accp.domain.DataMaintenanceItems" extends="BaseResultMap">
    <association property="maintainRepair" javaType="com.accp.domain.MaintainRepair">
      <id column="mrnumber" property="number"/>
      <result column="mrpickdate" property="pickdate"/>
      <result column="mrtype" property="type"/>
      <result column="mrtname" property="tname"/>
      <result column="mrcompletedate" property="completedate"/>
      <result column="mrsettledate" property="settledate"/>
    </association>
    <association property="clientCarinfo" javaType="com.accp.domain.ClientCarinfo">
      <id column="ccaid" property="id"/>
      <result column="ccacarnumber" property="carnumber"/>
    </association>
    <association property="dataRepairItems" javaType="com.accp.domain.DataRepairItems">
      <id column="driid" property="id"/>
      <result column="driitemid" property="itemid"/>
      <result column="mrnumber" property="rescuerepairid"/>
      <result column="drifault" property="fault"/>
      <result column="drifaultresult" property="faultresult"/>
      <result column="driworkordernumber" property="workordernumber"/>
    </association>
  </resultMap>
  <resultMap id="BaseResultMapPlus2" type="com.accp.domain.DataMaintenanceItems" extends="BaseResultMap">
    <association property="maintainRepair" javaType="com.accp.domain.MaintainRepair">
      <id column="mrnumber" property="number"/>
    </association>
    <association property="dataRepairItems" javaType="com.accp.domain.DataRepairItems">
      <id column="driid" property="id"/>
      <result column="driitemid" property="itemid"/>
      <result column="drirescuerepairid" property="rescuerepairid"/>
      <result column="drinum" property="num"/>
      <result column="dribeforeThePreferential" property="beforeThePreferential"/>
      <result column="driafterThePreferential" property="afterThePreferential"/>
    </association>
  </resultMap>
  <resultMap id="BaseResultMapPlus3" type="com.accp.domain.DataMaintenanceItems" extends="BaseResultMap">
    <association property="maintainRepair" javaType="com.accp.domain.MaintainRepair">
      <id column="mrnumber" property="number"/>
    </association>
    <association property="personnelArtisanclass" javaType="com.accp.domain.PersonnelArtisanclass">
      <id column="paartisanClassId" property="artisanclassid"/>
      <result column="paartisanClassName" property="artisanclassname"/>
    </association>
    <association property="personnelStaff" javaType="com.accp.domain.PersonnelStaff">
      <id column="psid" property="id"/>
      <result column="psstaffname" property="staffname"/>
    </association>
    <association property="dataRepairItems" javaType="com.accp.domain.DataRepairItems">
      <id column="driid" property="id"/>
      <result column="driitemid" property="itemid"/>
      <result column="drirescuerepairid" property="rescuerepairid"/>
      <result column="dristaffid" property="staffid"/>
      <result column="dripriceclass" property="priceclass"/>
      <result column="drinum" property="num"/>
      <result column="dribeforeThePreferential" property="beforeThePreferential"/>
      <result column="driafterThePreferential" property="afterThePreferential"/>
      <result column="drifault" property="fault"/>
      <result column="drifaultresult" property="faultresult"/>
    </association>
  </resultMap>

  <resultMap id="BaseResultMapSix" type="com.accp.domain.DataMaintenanceItems" extends="BaseResultMap">
    <association property="dataItemtype" javaType="com.accp.domain.DataItemtype">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="parentId" property="parentid" jdbcType="INTEGER" />
      <result column="default1" property="default1" jdbcType="VARCHAR" />
      <result column="default2" property="default2" jdbcType="VARCHAR" />
      <result column="default3" property="default3" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <select id="selectDataMaintenanceItems" resultMap="BaseResultMapSix">
    SELECT `data_maintenance_items`.*,`data_itemtype`.* FROM `data_maintenance_items`
    INNER JOIN `data_itemtype` ON `data_maintenance_items`.`typeId`=`data_itemtype`.`id`
    where 1=1
    <if test="dataMaintenanceItems.ids !=null and dataMaintenanceItems.ids.size()>0">
      and (
      <foreach collection="dataMaintenanceItems.ids" item="item" separator="or">
        <if test="item != null and item != ''">
          `data_itemtype`.id = #{item}
        </if>

      </foreach>
      )
    </if>
  </select>

  <select id="items" resultMap="BaseResultMapPlus">
    SELECT mr.`number` as mrnumber ,mr.`pickDate` as mrpickdate ,mr.`type` as mrtype ,
    mr.`tname` as mrtname ,mr.`completeDate` as mrcompletedate ,mr.`settleDate` as mrsettledate ,dri.`id` as driid ,
    dmi.`id`  ,dmi.`itemsName` ,dmi.`normalPrice`,dmi.`memberPrice`,dmi.`vipPrice`, dri.`itemid` as driitemid ,
    dri.`fault` as drifault ,dri.`faultResult` as drifaultresult ,dri.`workOrderNumber` as driworkordernumber ,cca.`id` as ccaid ,cca.`carNumber` as ccacarnumber
    FROM `data_maintenance_items` AS dmi
    STRAIGHT_JOIN `data_repair_items` AS dri
    ON dmi.`id` = dri.`itemId`
    STRAIGHT_JOIN (
    SELECT mrp.`number`,mrp.`carInfoId`,mrp.`type`,mrp.`pickDate`,mrp.`completeDate`,mrp.`settleDate`,'维修单' AS tname FROM `maintain_repair` AS mrp
    UNION ALL
    SELECT mrs.`number`,mrs.`carInfoId`,mrs.`type`,mrs.`pickDate`,mrs.`completeDate`,mrs.`settleDate`,'救援单' AS tname FROM `maintain_rescue` AS mrs
    ) AS mr
    ON dri.`rescueRepairId` = mr.`number`
    STRAIGHT_JOIN `client_carinfo` AS cca
    ON mr.`carInfoId` = cca.`id`
    WHERE cca.`carNumber` = #{carNumber}
  </select>
  <select id="attached" resultMap="BaseResultMapPlus2">
    SELECT dmi.`id`,dmi.`itemsName`,dri.`num` as drinum , dri.`itemId` as driteamid , dri.`rescueRepairId` as drirescuerepairid ,
    dri.`before_the_preferential` as dribeforeThePreferential  ,dri.`after_the_preferential` as driafterThePreferential  ,mr.`number` as mrnumber , dri.`id` as driid
    FROM `data_maintenance_items` AS dmi
    STRAIGHT_JOIN `data_repair_items` AS dri
    ON dmi.`id` = dri.`itemId`
    STRAIGHT_JOIN (
    SELECT mrp.`number` FROM `maintain_repair` AS mrp
    UNION ALL
    SELECT mrs.`number` FROM `maintain_rescue` AS mrs
    ) AS mr
    ON dri.`rescueRepairId` = mr.`number`
    WHERE mr.`number` = #{number}
  </select>
  <select id="itemsSels" resultMap="BaseResultMapPlus3">
    SELECT dmi.`id`,dmi.`itemsName`,dri.`priceClass` as dripriceclass ,dri.`num` as drinum ,
    dri.`before_the_preferential` as dribeforeThePreferential ,dri.`after_the_preferential` as driafterThePreferential ,
    dri.`fault` as drifault ,dri.`faultResult` as drifaultresult ,pa.`artisanClassName` as paartisanClassName ,
    ps.`staffName` as psstaffname ,dri.`workOrderNumber`,dri.`preeOfChargeFor` ,mr.`number` as mrnumber ,
    pa.`artisanClassId` as paartisanClassId , ps.`id` as psid ,dri.`id` as driid ,dri.`itemId` as driitemid ,dri.`rescueRepairId` as drirescuerepairid ,
    dri.`teamId` as driteamid , dri.`staffId` as dristaffid
    FROM `data_maintenance_items` AS dmi
    STRAIGHT_JOIN `data_repair_items` AS dri
    ON dmi.`id` = dri.`itemId`
    STRAIGHT_JOIN (
    SELECT mrp.`number` FROM `maintain_repair` AS mrp
    UNION ALL
    SELECT mrs.`number` FROM `maintain_rescue` AS mrs
    ) AS mr
    ON dri.`rescueRepairId` = mr.`number`
    STRAIGHT_JOIN `personnel_artisanclass` AS pa
    ON dri.`teamId` = pa.`artisanClassId`
    STRAIGHT_JOIN `personnel_staff` AS ps
    ON dri.`staffId` = ps.`id`
    WHERE mr.`number` = #{number}
  </select>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, itemsName, typeId, remark, normalPrice, memberPrice, vipPrice, negotiatedPrice, 
    claimPrice, insurancePrice, default1, default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.DataMaintenanceItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_maintenance_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from data_maintenance_items
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from data_maintenance_items
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.DataMaintenanceItemsExample" >
    delete from data_maintenance_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.DataMaintenanceItems" >
    insert into data_maintenance_items (id, itemsName, typeId, 
      remark, normalPrice, memberPrice, 
      vipPrice, negotiatedPrice, claimPrice, 
      insurancePrice, default1, default2
      )
    values (#{id,jdbcType=INTEGER}, #{itemsname,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{normalprice,jdbcType=REAL}, #{memberprice,jdbcType=REAL}, 
      #{vipprice,jdbcType=REAL}, #{negotiatedprice,jdbcType=REAL}, #{claimprice,jdbcType=REAL}, 
      #{insuranceprice,jdbcType=REAL}, #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.DataMaintenanceItems" >
    insert into data_maintenance_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemsname != null" >
        itemsName,
      </if>
      <if test="typeid != null" >
        typeId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="normalprice != null" >
        normalPrice,
      </if>
      <if test="memberprice != null" >
        memberPrice,
      </if>
      <if test="vipprice != null" >
        vipPrice,
      </if>
      <if test="negotiatedprice != null" >
        negotiatedPrice,
      </if>
      <if test="claimprice != null" >
        claimPrice,
      </if>
      <if test="insuranceprice != null" >
        insurancePrice,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemsname != null" >
        #{itemsname,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="normalprice != null" >
        #{normalprice,jdbcType=REAL},
      </if>
      <if test="memberprice != null" >
        #{memberprice,jdbcType=REAL},
      </if>
      <if test="vipprice != null" >
        #{vipprice,jdbcType=REAL},
      </if>
      <if test="negotiatedprice != null" >
        #{negotiatedprice,jdbcType=REAL},
      </if>
      <if test="claimprice != null" >
        #{claimprice,jdbcType=REAL},
      </if>
      <if test="insuranceprice != null" >
        #{insuranceprice,jdbcType=REAL},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.DataMaintenanceItemsExample" resultType="java.lang.Integer" >
    select count(*) from data_maintenance_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update data_maintenance_items
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.itemsname != null" >
        itemsName = #{record.itemsname,jdbcType=VARCHAR},
      </if>
      <if test="record.typeid != null" >
        typeId = #{record.typeid,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.normalprice != null" >
        normalPrice = #{record.normalprice,jdbcType=REAL},
      </if>
      <if test="record.memberprice != null" >
        memberPrice = #{record.memberprice,jdbcType=REAL},
      </if>
      <if test="record.vipprice != null" >
        vipPrice = #{record.vipprice,jdbcType=REAL},
      </if>
      <if test="record.negotiatedprice != null" >
        negotiatedPrice = #{record.negotiatedprice,jdbcType=REAL},
      </if>
      <if test="record.claimprice != null" >
        claimPrice = #{record.claimprice,jdbcType=REAL},
      </if>
      <if test="record.insuranceprice != null" >
        insurancePrice = #{record.insuranceprice,jdbcType=REAL},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update data_maintenance_items
    set id = #{record.id,jdbcType=INTEGER},
      itemsName = #{record.itemsname,jdbcType=VARCHAR},
      typeId = #{record.typeid,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      normalPrice = #{record.normalprice,jdbcType=REAL},
      memberPrice = #{record.memberprice,jdbcType=REAL},
      vipPrice = #{record.vipprice,jdbcType=REAL},
      negotiatedPrice = #{record.negotiatedprice,jdbcType=REAL},
      claimPrice = #{record.claimprice,jdbcType=REAL},
      insurancePrice = #{record.insuranceprice,jdbcType=REAL},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.DataMaintenanceItems" >
    update data_maintenance_items
    <set >
      <if test="itemsname != null" >
        itemsName = #{itemsname,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        typeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="normalprice != null" >
        normalPrice = #{normalprice,jdbcType=REAL},
      </if>
      <if test="memberprice != null" >
        memberPrice = #{memberprice,jdbcType=REAL},
      </if>
      <if test="vipprice != null" >
        vipPrice = #{vipprice,jdbcType=REAL},
      </if>
      <if test="negotiatedprice != null" >
        negotiatedPrice = #{negotiatedprice,jdbcType=REAL},
      </if>
      <if test="claimprice != null" >
        claimPrice = #{claimprice,jdbcType=REAL},
      </if>
      <if test="insuranceprice != null" >
        insurancePrice = #{insuranceprice,jdbcType=REAL},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.DataMaintenanceItems" >
    update data_maintenance_items
    set itemsName = #{itemsname,jdbcType=VARCHAR},
      typeId = #{typeid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      normalPrice = #{normalprice,jdbcType=REAL},
      memberPrice = #{memberprice,jdbcType=REAL},
      vipPrice = #{vipprice,jdbcType=REAL},
      negotiatedPrice = #{negotiatedprice,jdbcType=REAL},
      claimPrice = #{claimprice,jdbcType=REAL},
      insurancePrice = #{insuranceprice,jdbcType=REAL},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>