<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.DataCarbrandMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.DataCarbrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="carBrandName" property="carbrandname" jdbcType="VARCHAR" />
    <result column="firstLetter" property="firstletter" jdbcType="VARCHAR" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="defailt2" property="defailt2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, carBrandName, firstLetter, default1, defailt2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.DataCarbrandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_carbrand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from data_carbrand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from data_carbrand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.DataCarbrandExample" >
    delete from data_carbrand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.DataCarbrand" >
    insert into data_carbrand (id, carBrandName, firstLetter, 
      default1, defailt2)
    values (#{id,jdbcType=INTEGER}, #{carbrandname,jdbcType=VARCHAR}, #{firstletter,jdbcType=VARCHAR}, 
      #{default1,jdbcType=VARCHAR}, #{defailt2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.DataCarbrand" >
    insert into data_carbrand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carbrandname != null" >
        carBrandName,
      </if>
      <if test="firstletter != null" >
        firstLetter,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="defailt2 != null" >
        defailt2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carbrandname != null" >
        #{carbrandname,jdbcType=VARCHAR},
      </if>
      <if test="firstletter != null" >
        #{firstletter,jdbcType=VARCHAR},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="defailt2 != null" >
        #{defailt2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.DataCarbrandExample" resultType="java.lang.Integer" >
    select count(*) from data_carbrand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update data_carbrand
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.carbrandname != null" >
        carBrandName = #{record.carbrandname,jdbcType=VARCHAR},
      </if>
      <if test="record.firstletter != null" >
        firstLetter = #{record.firstletter,jdbcType=VARCHAR},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.defailt2 != null" >
        defailt2 = #{record.defailt2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update data_carbrand
    set id = #{record.id,jdbcType=INTEGER},
      carBrandName = #{record.carbrandname,jdbcType=VARCHAR},
      firstLetter = #{record.firstletter,jdbcType=VARCHAR},
      default1 = #{record.default1,jdbcType=VARCHAR},
      defailt2 = #{record.defailt2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.DataCarbrand" >
    update data_carbrand
    <set >
      <if test="carbrandname != null" >
        carBrandName = #{carbrandname,jdbcType=VARCHAR},
      </if>
      <if test="firstletter != null" >
        firstLetter = #{firstletter,jdbcType=VARCHAR},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="defailt2 != null" >
        defailt2 = #{defailt2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.DataCarbrand" >
    update data_carbrand
    set carBrandName = #{carbrandname,jdbcType=VARCHAR},
      firstLetter = #{firstletter,jdbcType=VARCHAR},
      default1 = #{default1,jdbcType=VARCHAR},
      defailt2 = #{defailt2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>