<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.FrontCashierMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.FrontCashier" >
    <id column="cashierId" property="cashierid" jdbcType="INTEGER" />
    <result column="totalNum" property="totalnum" jdbcType="REAL" />
    <result column="settlementStatus" property="settlementstatus" jdbcType="VARCHAR" />
    <result column="paymentType" property="paymenttype" jdbcType="VARCHAR" />
    <result column="invoiceId" property="invoiceid" jdbcType="INTEGER" />
    <result column="cashierTime" property="cashiertime" jdbcType="TIMESTAMP" />
    <result column="staffId" property="staffid" jdbcType="VARCHAR" />
    <result column="onCredit" property="oncredit" jdbcType="REAL" />
    <result column="clientId" property="clientid" jdbcType="INTEGER" />
    <result column="change" property="change" jdbcType="REAL" />
    <result column="vipBalance" property="vipbalance" jdbcType="REAL" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapPlus" type="com.accp.domain.FrontCashier" extends="BaseResultMap">
    <association property="clientClientdata" javaType="com.accp.domain.ClientClientdata">
      <id column="ccnumber" property="number"/>
      <result column="ccname" property="name"/>
      <result column="ccphone" property="phone"/>
      <result column="cccounselorname" property="counselorname"/>
    </association>
    <association property="maintainRepair" javaType="com.accp.domain.MaintainRepair">
      <id column="mrnumber" property="number"/>
      <result column="mrtype" property="type"/>
      <result column="mrworktime" property="worktime"/>
      <result column="mrgetman" property="getman"/>
      <result column="mroverworkdate" property="overworkdate"/>
      <result column="mrcompletedate" property="completedate"/>
      <result column="mrcompany" property="company"/>
      <result column="mrbeforedate" property="beforedate"/>
      <result column="mrprice" property="price"/>
      <result column="mrremark" property="remark"/>
      <result column="mrstate" property="state"/>
    </association>
    <association property="clientCarinfo" javaType="com.accp.domain.ClientCarinfo">
      <id column="caclientid" property="clientid"/>
      <result column="cacarnumber" property="carnumber"/>
      <result column="caframenumber" property="framenumber"/>
      <result column="cacarid" property="carid"/>
      <result column="caenginenumber" property="enginenumber"/>
      <result column="cacarer" property="carer"/>
      <result column="camileage" property="mileage"/>
    </association>
    <association property="dataEngineBrand" javaType="com.accp.domain.DataEngineBrand">
      <id column="debid" property="id"/>
      <result column="debenginebrandname" property="enginebrandname"/>
    </association>
    <association property="dataCarbrand" javaType="com.accp.domain.DataCarbrand">
      <id column="dcid" property="id"/>
      <result column="dccarbrandname" property="carbrandname"/>
    </association>
  </resultMap>

  <resultMap id="BaseResultMapPlus2" type="com.accp.domain.FrontCashier" extends="BaseResultMap">
    <association property="clientClientdata" javaType="com.accp.domain.ClientClientdata">
      <id column="ccnumber" property="number"/>
      <result column="ccname" property="name"/>
      <result column="ccphone" property="phone"/>
      <result column="cccounselorname" property="counselorname"/>
    </association>
    <association property="maintainRescue" javaType="com.accp.domain.MaintainRescue">
      <id column="mrnumber" property="number"/>
      <result column="mrtype" property="type"/>
      <result column="mrworktime" property="worktime"/>
      <result column="mroverworkdate" property="overworkdate"/>
      <result column="mrcompletedate" property="completedate"/>
      <result column="mrcompany" property="company"/>
      <result column="mrprice" property="price"/>
      <result column="mrremark" property="remark"/>
      <result column="mrstate" property="state"/>
      <result column="mraddress" property="address"/>
      <result column="mrcar" property="car"/>
      <result column="mrrescueaddress" property="rescueaddress"/>
    </association>
    <association property="clientCarinfo" javaType="com.accp.domain.ClientCarinfo">
      <id column="caclientid" property="clientid"/>
      <result column="cacarnumber" property="carnumber"/>
      <result column="cacarid" property="carid"/>
      <result column="cacarer" property="carer"/>
      <result column="camileage" property="mileage"/>
    </association>
    <association property="dataEngineBrand" javaType="com.accp.domain.DataEngineBrand">
      <id column="debid" property="id"/>
      <result column="debenginebrandname" property="enginebrandname"/>
    </association>
    <association property="dataCarbrand" javaType="com.accp.domain.DataCarbrand">
      <id column="dcid" property="id"/>
      <result column="dccarbrandname" property="carbrandname"/>
    </association>
    <association property="personnelArtisanclass" javaType="com.accp.domain.PersonnelArtisanclass">
      <id column="paartisanclassid" property="artisanclassid"/>
      <result column="paartisanclassname" property="artisanclassname"/>
    </association>
  </resultMap>

  <resultMap id="BaseResultMapPlus3" type="com.accp.domain.FrontCashier" extends="BaseResultMap">
    <association property="clientClientdata" javaType="com.accp.domain.ClientClientdata">
      <id column="ccnumber" property="number"/>
      <result column="ccname" property="name"/>
      <result column="ccphone" property="phone"/>
      <result column="cccounselorname" property="counselorname"/>
    </association>
    <association property="maintainRepair" javaType="com.accp.domain.MaintainRepair">
      <id column="mrnumber" property="number"/>
      <result column="mrstatus" property="status"/>
      <result column="mrcompany" property="company"/>
      <result column="mrcompletedate" property="completedate"/>
      <result column="mrremark" property="remark"/>
      <result column="tname" property="tname"/>
    </association>
    <association property="personnelArtisan" javaType="com.accp.domain.PersonnelArtisan">
      <id column="paartisanid" property="artisanid"/>
      <result column="paartisanname" property="artisanname"/>
    </association>
    <association property="clientCarinfo" javaType="com.accp.domain.ClientCarinfo">
      <id column="caclientid" property="clientid"/>
      <result column="cacarnumber" property="carnumber"/>
      <result column="caframenumber" property="framenumber"/>
      <result column="cajqinsurance" property="jqinsurance"/>
    </association>
    <association property="dataCar" javaType="com.accp.domain.DataCar">
      <id column="dcid" property="id"/>
      <result column="dccartypename" property="cartypename"/>
    </association>
  </resultMap>
  <select id="repair" resultMap="BaseResultMapPlus">
    SELECT mr.`number` as mrnumber ,ca.`carNumber` as cacarnumber ,ca.`frameNumber` as caframenumber ,
    ca.`carId` as cacarid ,dc.`carBrandName` as dccarbrandname ,ca.`engineNumber` as caenginenumber ,
    deb.`engineBrandName` as debenginebrandname ,fc.`paymentType`, cc.`name` as ccname ,ca.`carer` as cacarer , cc.`phone` as ccphone ,ca.`mileage` as camileage ,
    mr.`type` mrtype , mr.`workTime` as mrworktime ,mr.`getMan` as mrgetman , mr.`overWorkDate` as mroverworkdate ,mr.`completeDate` as mrcompletedate,
    mr.`company` as mrcompany ,cc.`counselorName` as cccounselorname , mr.`beforedate` as mrbeforedate ,mr.`price` as mrprice ,mr.`remark` as mrremark ,mr.`state` as mrstate,
    cc.`number` as ccnumber , ca.`clientId` as caclientid , deb.`id` as debid ,dc.`id` as dcid
    FROM `front_cashier` AS fc
    STRAIGHT_JOIN `client_clientdata` AS cc
    ON fc.`clientId` = cc.`number`
    STRAIGHT_JOIN `maintain_repair` AS mr
    ON fc.`number` = mr.`number`
    STRAIGHT_JOIN `client_carinfo` AS ca
    ON cc.`number` = ca.`clientId`
    STRAIGHT_JOIN `data_engine_brand` AS deb
    ON ca.`engineId` = deb.`id`
    STRAIGHT_JOIN `data_carbrand` AS dc
    ON ca.`carBrandId` = dc.`id`
    WHERE mr.`number` = #{number}
  </select>

  <select id="rescue" resultMap="BaseResultMapPlus2">
    SELECT mr.`number` as mrnumber ,ca.`carNumber` as cacarnumber ,
    ca.`carId` as cacarid ,dc.`carBrandName` as dccarbrandname,
    deb.`engineBrandName` as debenginebrandname,fc.`paymentType`,
    cc.`name` as ccname ,ca.`carer` as cacarer ,
    cc.`phone` as ccphone ,ca.`mileage` as camileage ,
    mr.`type` mrtype ,mr.`address` as mraddress ,mr.`rescueAddress` as mrrescueaddress ,
    mr.`workTime` as mrworktime ,mr.`car` as mrcar ,
    mr.`completeDate` as mrcompletedate ,pa.`artisanClassName` as paartisanclassname ,
    mr.`company` as mrcompany ,cc.`counselorName` as cccounselorname ,
    mr.`price` as mrprice ,mr.`remark` as mrremark ,mr.`state` as mrstate,
    cc.`number` as ccnumber , ca.`clientId` as caclientid , deb.`id` as debid ,dc.`id` as dcid , pa.`artisanClassId` as paartisanclassid
    FROM `front_cashier` AS fc
    STRAIGHT_JOIN `client_clientdata` AS cc
    ON fc.`clientId` = cc.`number`
    STRAIGHT_JOIN `maintain_rescue` AS mr
    ON fc.`number` = mr.`number`
    STRAIGHT_JOIN `client_carinfo` AS ca
    ON cc.`number` = ca.`clientId`
    STRAIGHT_JOIN `data_engine_brand` AS deb
    ON ca.`engineId` = deb.`id`
    STRAIGHT_JOIN `data_carbrand` AS dc
    ON ca.`carBrandId` = dc.`carBrandName`
    STRAIGHT_JOIN `personnel_artisanclass` AS pa
    ON mr.`rescueTeamId` = pa.`artisanClassId`
    WHERE mr.`number` = #{number}
  </select>

  <select id="bill" resultMap="BaseResultMapPlus3">
    SELECT fc.`cashierId` ,fc.`invoiceId`, fc.`paymentType`,mr.`status` as mrstatus ,
    fc.`settlementStatus`,fc.`cashierTime`, pa.`artisanName` as paartisanname ,fc.`totalNum`,
    cc.`name` as ccname ,ca.`carNumber` as cacarnumber , dc.`carTypeName` as dccartypename ,ca.`frameNumber` as caframenumber , cc.`phone` as ccphone ,ca.`jqinsurance` as cajqinsurance ,
    mr.`company` as mrcompany ,cc.`counselorName` as cccounselorname , mr.`completeDate` as mrcompletedate ,mr.`remark` as mrremark ,tname ,
    pa.`artisanId` as paartisanid ,ca.`clientId` as caclientid , dc.`id` as dcid , cc.`number` as ccnumber ,mr.`number` as mrnumber
    FROM `front_cashier` AS fc
    STRAIGHT_JOIN `client_clientdata` AS cc
    ON fc.`clientId` = cc.`number`
    STRAIGHT_JOIN (
    SELECT mrp.`number`,mrp.`completeDate`,mrp.`status`,mrp.`company`,mrp.`remark`,'维修单' AS tname FROM `maintain_repair` AS mrp
    UNION ALL
    SELECT mrs.`number`,mrs.`completeDate`,mrs.`status`,mrs.`company`,mrs.`remark`,'救援单' AS tname FROM `maintain_rescue` AS mrs
    ) AS mr
    ON fc.`number` = mr.`number`
    STRAIGHT_JOIN `personnel_artisan` AS pa
    ON fc.`staffId` = pa.`artisanId`
    STRAIGHT_JOIN `client_carinfo` AS ca
    ON cc.`number` = ca.`clientId`
    STRAIGHT_JOIN `data_car` AS dc
    ON ca.`carId` = dc.`id`
    WHERE fc.`cashierId` LIKE #{cashierId} AND mr.`status` LIKE #{status}
    AND ca.`carNumber` LIKE #{carNumber} AND cc.`name` LIKE #{name}
    AND cc.`counselorName` LIKE #{counselorName} AND tname LIKE #{tname}
    AND fc.`settlementStatus` = #{settlementStatus} AND mr.`remark` LIKE #{remark}
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cashierId, totalNum, settlementStatus, paymentType, invoiceId, cashierTime, staffId, 
    onCredit, clientId, change, vipBalance, number, default1, default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.FrontCashierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from front_cashier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from front_cashier
    where cashierId = #{cashierid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from front_cashier
    where cashierId = #{cashierid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.FrontCashierExample" >
    delete from front_cashier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.FrontCashier" >
    insert into front_cashier (cashierId, totalNum, settlementStatus, 
      paymentType, invoiceId, cashierTime, 
      staffId, onCredit, clientId, 
      change, vipBalance, number, 
      default1, default2)
    values (#{cashierid,jdbcType=INTEGER}, #{totalnum,jdbcType=REAL}, #{settlementstatus,jdbcType=VARCHAR}, 
      #{paymenttype,jdbcType=VARCHAR}, #{invoiceid,jdbcType=INTEGER}, #{cashiertime,jdbcType=TIMESTAMP}, 
      #{staffid,jdbcType=VARCHAR}, #{oncredit,jdbcType=REAL}, #{clientid,jdbcType=INTEGER}, 
      #{change,jdbcType=REAL}, #{vipbalance,jdbcType=REAL}, #{number,jdbcType=VARCHAR}, 
      #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.FrontCashier" >
    insert into front_cashier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cashierid != null" >
        cashierId,
      </if>
      <if test="totalnum != null" >
        totalNum,
      </if>
      <if test="settlementstatus != null" >
        settlementStatus,
      </if>
      <if test="paymenttype != null" >
        paymentType,
      </if>
      <if test="invoiceid != null" >
        invoiceId,
      </if>
      <if test="cashiertime != null" >
        cashierTime,
      </if>
      <if test="staffid != null" >
        staffId,
      </if>
      <if test="oncredit != null" >
        onCredit,
      </if>
      <if test="clientid != null" >
        clientId,
      </if>
      <if test="change != null" >
        change,
      </if>
      <if test="vipbalance != null" >
        vipBalance,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cashierid != null" >
        #{cashierid,jdbcType=INTEGER},
      </if>
      <if test="totalnum != null" >
        #{totalnum,jdbcType=REAL},
      </if>
      <if test="settlementstatus != null" >
        #{settlementstatus,jdbcType=VARCHAR},
      </if>
      <if test="paymenttype != null" >
        #{paymenttype,jdbcType=VARCHAR},
      </if>
      <if test="invoiceid != null" >
        #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="cashiertime != null" >
        #{cashiertime,jdbcType=TIMESTAMP},
      </if>
      <if test="staffid != null" >
        #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="oncredit != null" >
        #{oncredit,jdbcType=REAL},
      </if>
      <if test="clientid != null" >
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="change != null" >
        #{change,jdbcType=REAL},
      </if>
      <if test="vipbalance != null" >
        #{vipbalance,jdbcType=REAL},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.FrontCashierExample" resultType="java.lang.Integer" >
    select count(*) from front_cashier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update front_cashier
    <set >
      <if test="record.cashierid != null" >
        cashierId = #{record.cashierid,jdbcType=INTEGER},
      </if>
      <if test="record.totalnum != null" >
        totalNum = #{record.totalnum,jdbcType=REAL},
      </if>
      <if test="record.settlementstatus != null" >
        settlementStatus = #{record.settlementstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.paymenttype != null" >
        paymentType = #{record.paymenttype,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceid != null" >
        invoiceId = #{record.invoiceid,jdbcType=INTEGER},
      </if>
      <if test="record.cashiertime != null" >
        cashierTime = #{record.cashiertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.staffid != null" >
        staffId = #{record.staffid,jdbcType=VARCHAR},
      </if>
      <if test="record.oncredit != null" >
        onCredit = #{record.oncredit,jdbcType=REAL},
      </if>
      <if test="record.clientid != null" >
        clientId = #{record.clientid,jdbcType=INTEGER},
      </if>
      <if test="record.change != null" >
        change = #{record.change,jdbcType=REAL},
      </if>
      <if test="record.vipbalance != null" >
        vipBalance = #{record.vipbalance,jdbcType=REAL},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update front_cashier
    set cashierId = #{record.cashierid,jdbcType=INTEGER},
      totalNum = #{record.totalnum,jdbcType=REAL},
      settlementStatus = #{record.settlementstatus,jdbcType=VARCHAR},
      paymentType = #{record.paymenttype,jdbcType=VARCHAR},
      invoiceId = #{record.invoiceid,jdbcType=INTEGER},
      cashierTime = #{record.cashiertime,jdbcType=TIMESTAMP},
      staffId = #{record.staffid,jdbcType=VARCHAR},
      onCredit = #{record.oncredit,jdbcType=REAL},
      clientId = #{record.clientid,jdbcType=INTEGER},
      change = #{record.change,jdbcType=REAL},
      vipBalance = #{record.vipbalance,jdbcType=REAL},
      number = #{record.number,jdbcType=VARCHAR},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.FrontCashier" >
    update front_cashier
    <set >
      <if test="totalnum != null" >
        totalNum = #{totalnum,jdbcType=REAL},
      </if>
      <if test="settlementstatus != null" >
        settlementStatus = #{settlementstatus,jdbcType=VARCHAR},
      </if>
      <if test="paymenttype != null" >
        paymentType = #{paymenttype,jdbcType=VARCHAR},
      </if>
      <if test="invoiceid != null" >
        invoiceId = #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="cashiertime != null" >
        cashierTime = #{cashiertime,jdbcType=TIMESTAMP},
      </if>
      <if test="staffid != null" >
        staffId = #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="oncredit != null" >
        onCredit = #{oncredit,jdbcType=REAL},
      </if>
      <if test="clientid != null" >
        clientId = #{clientid,jdbcType=INTEGER},
      </if>
      <if test="change != null" >
        change = #{change,jdbcType=REAL},
      </if>
      <if test="vipbalance != null" >
        vipBalance = #{vipbalance,jdbcType=REAL},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where cashierId = #{cashierid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.FrontCashier" >
    update front_cashier
    set totalNum = #{totalnum,jdbcType=REAL},
      settlementStatus = #{settlementstatus,jdbcType=VARCHAR},
      paymentType = #{paymenttype,jdbcType=VARCHAR},
      invoiceId = #{invoiceid,jdbcType=INTEGER},
      cashierTime = #{cashiertime,jdbcType=TIMESTAMP},
      staffId = #{staffid,jdbcType=VARCHAR},
      onCredit = #{oncredit,jdbcType=REAL},
      clientId = #{clientid,jdbcType=INTEGER},
      change = #{change,jdbcType=REAL},
      vipBalance = #{vipbalance,jdbcType=REAL},
      number = #{number,jdbcType=VARCHAR},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where cashierId = #{cashierid,jdbcType=INTEGER}
  </update>
</mapper>