<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.MaintainRescueMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.MaintainRescue" >
    <id column="number" property="number" jdbcType="VARCHAR" />
    <result column="carInfoId" property="carinfoid" jdbcType="INTEGER" />
    <result column="counselorId" property="counselorid" jdbcType="INTEGER" />
    <result column="rescueTeamId" property="rescueteamid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="workTeam" property="workteam" jdbcType="VARCHAR" />
    <result column="getMan" property="getman" jdbcType="VARCHAR" />
    <result column="workDate" property="workdate" jdbcType="TIMESTAMP" />
    <result column="nowDate" property="nowdate" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="car" property="car" jdbcType="VARCHAR" />
    <result column="mileage" property="mileage" jdbcType="VARCHAR" />
    <result column="workTime" property="worktime" jdbcType="TIMESTAMP" />
    <result column="overTime" property="overtime" jdbcType="TIMESTAMP" />
    <result column="rescueAddress" property="rescueaddress" jdbcType="VARCHAR" />
    <result column="setter" property="setter" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="teamId" property="teamid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="completeDate" property="completedate" jdbcType="TIMESTAMP" />
    <result column="settleDate" property="settledate" jdbcType="TIMESTAMP" />
    <result column="pickDate" property="pickdate" jdbcType="TIMESTAMP" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    number, carInfoId, counselorId, rescueTeamId, type, workTeam, getMan, workDate, nowDate, 
    address, car, mileage, workTime, overTime, rescueAddress, setter, company, price, 
    remark, state, teamId, status, completeDate, settleDate, pickDate, default1, default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.MaintainRescueExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from maintain_rescue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maintain_rescue
    where number = #{number,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from maintain_rescue
    where number = #{number,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.MaintainRescueExample" >
    delete from maintain_rescue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.MaintainRescue" >
    insert into maintain_rescue (number, carInfoId, counselorId, 
      rescueTeamId, type, workTeam, 
      getMan, workDate, nowDate, 
      address, car, mileage, 
      workTime, overTime, rescueAddress, 
      setter, company, price, 
      remark, state, teamId, 
      status, completeDate, settleDate, 
      pickDate, default1, default2
      )
    values (#{number,jdbcType=VARCHAR}, #{carinfoid,jdbcType=INTEGER}, #{counselorid,jdbcType=INTEGER}, 
      #{rescueteamid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{workteam,jdbcType=VARCHAR}, 
      #{getman,jdbcType=VARCHAR}, #{workdate,jdbcType=TIMESTAMP}, #{nowdate,jdbcType=TIMESTAMP}, 
      #{address,jdbcType=VARCHAR}, #{car,jdbcType=VARCHAR}, #{mileage,jdbcType=VARCHAR}, 
      #{worktime,jdbcType=TIMESTAMP}, #{overtime,jdbcType=TIMESTAMP}, #{rescueaddress,jdbcType=VARCHAR}, 
      #{setter,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{remark,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{teamid,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{completedate,jdbcType=TIMESTAMP}, #{settledate,jdbcType=TIMESTAMP}, 
      #{pickdate,jdbcType=TIMESTAMP}, #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.MaintainRescue" >
    insert into maintain_rescue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        number,
      </if>
      <if test="carinfoid != null" >
        carInfoId,
      </if>
      <if test="counselorid != null" >
        counselorId,
      </if>
      <if test="rescueteamid != null" >
        rescueTeamId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="workteam != null" >
        workTeam,
      </if>
      <if test="getman != null" >
        getMan,
      </if>
      <if test="workdate != null" >
        workDate,
      </if>
      <if test="nowdate != null" >
        nowDate,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="car != null" >
        car,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="worktime != null" >
        workTime,
      </if>
      <if test="overtime != null" >
        overTime,
      </if>
      <if test="rescueaddress != null" >
        rescueAddress,
      </if>
      <if test="setter != null" >
        setter,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="teamid != null" >
        teamId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="completedate != null" >
        completeDate,
      </if>
      <if test="settledate != null" >
        settleDate,
      </if>
      <if test="pickdate != null" >
        pickDate,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="carinfoid != null" >
        #{carinfoid,jdbcType=INTEGER},
      </if>
      <if test="counselorid != null" >
        #{counselorid,jdbcType=INTEGER},
      </if>
      <if test="rescueteamid != null" >
        #{rescueteamid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="workteam != null" >
        #{workteam,jdbcType=VARCHAR},
      </if>
      <if test="getman != null" >
        #{getman,jdbcType=VARCHAR},
      </if>
      <if test="workdate != null" >
        #{workdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nowdate != null" >
        #{nowdate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="car != null" >
        #{car,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="worktime != null" >
        #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null" >
        #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rescueaddress != null" >
        #{rescueaddress,jdbcType=VARCHAR},
      </if>
      <if test="setter != null" >
        #{setter,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="teamid != null" >
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="completedate != null" >
        #{completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="settledate != null" >
        #{settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="pickdate != null" >
        #{pickdate,jdbcType=TIMESTAMP},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.MaintainRescueExample" resultType="java.lang.Integer" >
    select count(*) from maintain_rescue
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update maintain_rescue
    <set >
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.carinfoid != null" >
        carInfoId = #{record.carinfoid,jdbcType=INTEGER},
      </if>
      <if test="record.counselorid != null" >
        counselorId = #{record.counselorid,jdbcType=INTEGER},
      </if>
      <if test="record.rescueteamid != null" >
        rescueTeamId = #{record.rescueteamid,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.workteam != null" >
        workTeam = #{record.workteam,jdbcType=VARCHAR},
      </if>
      <if test="record.getman != null" >
        getMan = #{record.getman,jdbcType=VARCHAR},
      </if>
      <if test="record.workdate != null" >
        workDate = #{record.workdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nowdate != null" >
        nowDate = #{record.nowdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.car != null" >
        car = #{record.car,jdbcType=VARCHAR},
      </if>
      <if test="record.mileage != null" >
        mileage = #{record.mileage,jdbcType=VARCHAR},
      </if>
      <if test="record.worktime != null" >
        workTime = #{record.worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.overtime != null" >
        overTime = #{record.overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rescueaddress != null" >
        rescueAddress = #{record.rescueaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.setter != null" >
        setter = #{record.setter,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.teamid != null" >
        teamId = #{record.teamid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.completedate != null" >
        completeDate = #{record.completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settledate != null" >
        settleDate = #{record.settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pickdate != null" >
        pickDate = #{record.pickdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update maintain_rescue
    set number = #{record.number,jdbcType=VARCHAR},
      carInfoId = #{record.carinfoid,jdbcType=INTEGER},
      counselorId = #{record.counselorid,jdbcType=INTEGER},
      rescueTeamId = #{record.rescueteamid,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      workTeam = #{record.workteam,jdbcType=VARCHAR},
      getMan = #{record.getman,jdbcType=VARCHAR},
      workDate = #{record.workdate,jdbcType=TIMESTAMP},
      nowDate = #{record.nowdate,jdbcType=TIMESTAMP},
      address = #{record.address,jdbcType=VARCHAR},
      car = #{record.car,jdbcType=VARCHAR},
      mileage = #{record.mileage,jdbcType=VARCHAR},
      workTime = #{record.worktime,jdbcType=TIMESTAMP},
      overTime = #{record.overtime,jdbcType=TIMESTAMP},
      rescueAddress = #{record.rescueaddress,jdbcType=VARCHAR},
      setter = #{record.setter,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      teamId = #{record.teamid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      completeDate = #{record.completedate,jdbcType=TIMESTAMP},
      settleDate = #{record.settledate,jdbcType=TIMESTAMP},
      pickDate = #{record.pickdate,jdbcType=TIMESTAMP},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.MaintainRescue" >
    update maintain_rescue
    <set >
      <if test="carinfoid != null" >
        carInfoId = #{carinfoid,jdbcType=INTEGER},
      </if>
      <if test="counselorid != null" >
        counselorId = #{counselorid,jdbcType=INTEGER},
      </if>
      <if test="rescueteamid != null" >
        rescueTeamId = #{rescueteamid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="workteam != null" >
        workTeam = #{workteam,jdbcType=VARCHAR},
      </if>
      <if test="getman != null" >
        getMan = #{getman,jdbcType=VARCHAR},
      </if>
      <if test="workdate != null" >
        workDate = #{workdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nowdate != null" >
        nowDate = #{nowdate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="car != null" >
        car = #{car,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="worktime != null" >
        workTime = #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null" >
        overTime = #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rescueaddress != null" >
        rescueAddress = #{rescueaddress,jdbcType=VARCHAR},
      </if>
      <if test="setter != null" >
        setter = #{setter,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="teamid != null" >
        teamId = #{teamid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="completedate != null" >
        completeDate = #{completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="settledate != null" >
        settleDate = #{settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="pickdate != null" >
        pickDate = #{pickdate,jdbcType=TIMESTAMP},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where number = #{number,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.MaintainRescue" >
    update maintain_rescue
    set carInfoId = #{carinfoid,jdbcType=INTEGER},
      counselorId = #{counselorid,jdbcType=INTEGER},
      rescueTeamId = #{rescueteamid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      workTeam = #{workteam,jdbcType=VARCHAR},
      getMan = #{getman,jdbcType=VARCHAR},
      workDate = #{workdate,jdbcType=TIMESTAMP},
      nowDate = #{nowdate,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      car = #{car,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=VARCHAR},
      workTime = #{worktime,jdbcType=TIMESTAMP},
      overTime = #{overtime,jdbcType=TIMESTAMP},
      rescueAddress = #{rescueaddress,jdbcType=VARCHAR},
      setter = #{setter,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      teamId = #{teamid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      completeDate = #{completedate,jdbcType=TIMESTAMP},
      settleDate = #{settledate,jdbcType=TIMESTAMP},
      pickDate = #{pickdate,jdbcType=TIMESTAMP},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where number = #{number,jdbcType=VARCHAR}
  </update>
</mapper>