<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.MaintainMaintenanceRegistrationMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.MaintainMaintenanceRegistration" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="maintainName" property="maintainname" jdbcType="VARCHAR" />
    <result column="mileage" property="mileage" jdbcType="REAL" />
    <result column="mileageDate" property="mileagedate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="realMileage" property="realmileage" jdbcType="INTEGER" />
    <result column="realMileageDate" property="realmileagedate" jdbcType="TIMESTAMP" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, maintainName, mileage, mileageDate, remark, realMileage, realMileageDate, default1, 
    default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.MaintainMaintenanceRegistrationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from maintain_maintenance_registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from maintain_maintenance_registration
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from maintain_maintenance_registration
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.MaintainMaintenanceRegistrationExample" >
    delete from maintain_maintenance_registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.MaintainMaintenanceRegistration" >
    insert into maintain_maintenance_registration (id, maintainName, mileage, 
      mileageDate, remark, realMileage, 
      realMileageDate, default1, default2
      )
    values (#{id,jdbcType=INTEGER}, #{maintainname,jdbcType=VARCHAR}, #{mileage,jdbcType=REAL}, 
      #{mileagedate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{realmileage,jdbcType=INTEGER}, 
      #{realmileagedate,jdbcType=TIMESTAMP}, #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.MaintainMaintenanceRegistration" >
    insert into maintain_maintenance_registration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="maintainname != null" >
        maintainName,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="mileagedate != null" >
        mileageDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="realmileage != null" >
        realMileage,
      </if>
      <if test="realmileagedate != null" >
        realMileageDate,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="maintainname != null" >
        #{maintainname,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=REAL},
      </if>
      <if test="mileagedate != null" >
        #{mileagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="realmileage != null" >
        #{realmileage,jdbcType=INTEGER},
      </if>
      <if test="realmileagedate != null" >
        #{realmileagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.MaintainMaintenanceRegistrationExample" resultType="java.lang.Integer" >
    select count(*) from maintain_maintenance_registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update maintain_maintenance_registration
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.maintainname != null" >
        maintainName = #{record.maintainname,jdbcType=VARCHAR},
      </if>
      <if test="record.mileage != null" >
        mileage = #{record.mileage,jdbcType=REAL},
      </if>
      <if test="record.mileagedate != null" >
        mileageDate = #{record.mileagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.realmileage != null" >
        realMileage = #{record.realmileage,jdbcType=INTEGER},
      </if>
      <if test="record.realmileagedate != null" >
        realMileageDate = #{record.realmileagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update maintain_maintenance_registration
    set id = #{record.id,jdbcType=INTEGER},
      maintainName = #{record.maintainname,jdbcType=VARCHAR},
      mileage = #{record.mileage,jdbcType=REAL},
      mileageDate = #{record.mileagedate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      realMileage = #{record.realmileage,jdbcType=INTEGER},
      realMileageDate = #{record.realmileagedate,jdbcType=TIMESTAMP},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.MaintainMaintenanceRegistration" >
    update maintain_maintenance_registration
    <set >
      <if test="maintainname != null" >
        maintainName = #{maintainname,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=REAL},
      </if>
      <if test="mileagedate != null" >
        mileageDate = #{mileagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="realmileage != null" >
        realMileage = #{realmileage,jdbcType=INTEGER},
      </if>
      <if test="realmileagedate != null" >
        realMileageDate = #{realmileagedate,jdbcType=TIMESTAMP},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.MaintainMaintenanceRegistration" >
    update maintain_maintenance_registration
    set maintainName = #{maintainname,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=REAL},
      mileageDate = #{mileagedate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      realMileage = #{realmileage,jdbcType=INTEGER},
      realMileageDate = #{realmileagedate,jdbcType=TIMESTAMP},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>