<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.MaintainRepairMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.MaintainRepair" >
    <id column="number" property="number" jdbcType="VARCHAR" />
    <result column="carInfoId" property="carinfoid" jdbcType="INTEGER" />
    <result column="counselorId" property="counselorid" jdbcType="INTEGER" />
    <result column="oil" property="oil" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="workTime" property="worktime" jdbcType="VARCHAR" />
    <result column="getMan" property="getman" jdbcType="VARCHAR" />
    <result column="overWorkDate" property="overworkdate" jdbcType="TIMESTAMP" />
    <result column="setter" property="setter" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="beforedate" property="beforedate" jdbcType="TIMESTAMP" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="teamId" property="teamid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="completeDate" property="completedate" jdbcType="TIMESTAMP" />
    <result column="settleDate" property="settledate" jdbcType="TIMESTAMP" />
    <result column="pickDate" property="pickdate" jdbcType="TIMESTAMP" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMapPlus" extends="BaseResultMap" type="com.accp.domain.MaintainRepair">
    <association property="clientCarinfo" javaType="com.accp.domain.ClientCarinfo">
      <id column="ccaid" property="id"/>
      <result column="ccaCarNumber" property="carnumber"/>
    </association>
    <association property="clientClientdata" javaType="com.accp.domain.ClientClientdata">
      <id column="ccdnumber" property="number"/>
      <result column="ccdname" property="name"/>
      <result column="ccdphone" property="phone"/>
    </association>
  </resultMap>
  <select id="vehiclesInOperation" resultMap="BaseResultMapPlus">
    SELECT mr.`status`,mr.`type`,ccd.`name` as ccdname,ccd.`phone` as ccdphone,ccd.`number` as ccdnumber,cca.`carNumber` as ccaCarNumber,mr.`number`,mr.`tname`,
    mr.`pickDate`,mr.`overWorkDate`,mr.`completeDate`,mr.`settleDate`,mr.`price`,mr.`getMan`,cca.`id` as ccaid
    FROM (
    SELECT mrp.`number`,mrp.`carInfoId`,mrp.`type`,mrp.`getMan`,mrp.`pickDate`,mrp.`price`,mrp.`completeDate`,mrp.`settleDate`,mrp.`status`,mrp.`overWorkDate`,'维修单' AS tname FROM `maintain_repair` AS mrp
    UNION ALL
    SELECT mrs.`number`,mrs.`carInfoId`,mrs.`type`,mrs.`getMan`,mrs.`pickDate`,mrs.`price`,mrs.`completeDate`,mrs.`settleDate`,mrs.`status`,mrs.`overTime`,'救援单' AS tname FROM `maintain_rescue` AS mrs
    ) AS mr
    STRAIGHT_JOIN `client_carinfo` AS cca
    ON mr.`carInfoId` = cca.`id`
    STRAIGHT_JOIN `client_clientdata` AS ccd
    ON cca.`clientId` = ccd.`number`
  </select>
  <select id="maintenanceHistory" resultMap="BaseResultMapPlus">
    SELECT mr.`number` ,mr.`pickDate` ,mr.`type`,mr.`completeDate`,
    cca.`carNumber` as ccaCarNumber ,ccd.`name` as ccdname,ccd.`phone` as ccdphone,ccd.`number` as ccdnumber ,mr.`settleDate`,cca.`id` as ccaid
    FROM (
    SELECT mrp.`number`,mrp.`carInfoId`,mrp.`type`,mrp.`pickDate`,mrp.`completeDate`,mrp.`settleDate` FROM `maintain_repair` AS mrp
    UNION ALL
    SELECT mrs.`number`,mrs.`carInfoId`,mrs.`type`,mrs.`pickDate`,mrs.`completeDate`,mrs.`settleDate` FROM `maintain_rescue` AS mrs
    ) AS mr
    STRAIGHT_JOIN `client_carinfo` AS cca
    ON mr.`carInfoId` = cca.`id`
    STRAIGHT_JOIN `client_clientdata` AS ccd
    ON cca.`clientId` = ccd.`number`
    WHERE cca.`carNumber` = #{carnumber}
  </select>
  <select id="selectPrice" resultMap="BaseResultMap">
    SELECT number,price FROM
    (
    SELECT mrp.`number`,mrp.`price` FROM `maintain_repair` AS mrp
    UNION ALL
    SELECT mrs.`number`,mrs.`price` FROM `maintain_rescue` AS mrs
    ) AS mr
    WHERE number = #{number}
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    number, carInfoId, counselorId, oil, type, workTime, getMan, overWorkDate, setter, 
    company, beforedate, price, remark, state, teamId, status, completeDate, settleDate,
    pickDate, default1, default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.MaintainRepairExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from maintain_repair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from maintain_repair
    where number = #{number,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from maintain_repair
    where number = #{number,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.MaintainRepairExample" >
    delete from maintain_repair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.MaintainRepair" >
    insert into maintain_repair (number, carInfoId, counselorId, 
      oil, type, workTime, 
      getMan, overWorkDate, setter, 
      company, beforedate, price,
      remark, state, teamId, 
      status, completeDate, settleDate, 
      pickDate, default1, default2
      )
    values (#{number,jdbcType=VARCHAR}, #{carinfoid,jdbcType=INTEGER}, #{counselorid,jdbcType=INTEGER}, 
      #{oil,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{worktime,jdbcType=VARCHAR}, 
      #{getman,jdbcType=VARCHAR}, #{overworkdate,jdbcType=TIMESTAMP}, #{setter,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{beforedate,jdbcType=TIMESTAMP}, #{price,jdbcType=REAL},
      #{remark,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{teamid,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{completedate,jdbcType=TIMESTAMP}, #{settledate,jdbcType=TIMESTAMP}, 
      #{pickdate,jdbcType=TIMESTAMP}, #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.MaintainRepair" >
    insert into maintain_repair
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        number,
      </if>
      <if test="carinfoid != null" >
        carInfoId,
      </if>
      <if test="counselorid != null" >
        counselorId,
      </if>
      <if test="oil != null" >
        oil,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="worktime != null" >
        workTime,
      </if>
      <if test="getman != null" >
        getMan,
      </if>
      <if test="overworkdate != null" >
        overWorkDate,
      </if>
      <if test="setter != null" >
        setter,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="beforedate != null" >
        beforedate,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="teamid != null" >
        teamId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="completedate != null" >
        completeDate,
      </if>
      <if test="settledate != null" >
        settleDate,
      </if>
      <if test="pickdate != null" >
        pickDate,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="carinfoid != null" >
        #{carinfoid,jdbcType=INTEGER},
      </if>
      <if test="counselorid != null" >
        #{counselorid,jdbcType=INTEGER},
      </if>
      <if test="oil != null" >
        #{oil,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="worktime != null" >
        #{worktime,jdbcType=VARCHAR},
      </if>
      <if test="getman != null" >
        #{getman,jdbcType=VARCHAR},
      </if>
      <if test="overworkdate != null" >
        #{overworkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="setter != null" >
        #{setter,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="beforedate != null" >
        #{beforedate,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="teamid != null" >
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="completedate != null" >
        #{completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="settledate != null" >
        #{settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="pickdate != null" >
        #{pickdate,jdbcType=TIMESTAMP},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.MaintainRepairExample" resultType="java.lang.Integer" >
    select count(*) from maintain_repair
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update maintain_repair
    <set >
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.carinfoid != null" >
        carInfoId = #{record.carinfoid,jdbcType=INTEGER},
      </if>
      <if test="record.counselorid != null" >
        counselorId = #{record.counselorid,jdbcType=INTEGER},
      </if>
      <if test="record.oil != null" >
        oil = #{record.oil,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.worktime != null" >
        workTime = #{record.worktime,jdbcType=VARCHAR},
      </if>
      <if test="record.getman != null" >
        getMan = #{record.getman,jdbcType=VARCHAR},
      </if>
      <if test="record.overworkdate != null" >
        overWorkDate = #{record.overworkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.setter != null" >
        setter = #{record.setter,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.beforedate != null" >
        beforedate = #{record.beforedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.teamid != null" >
        teamId = #{record.teamid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.completedate != null" >
        completeDate = #{record.completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settledate != null" >
        settleDate = #{record.settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pickdate != null" >
        pickDate = #{record.pickdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update maintain_repair
    set number = #{record.number,jdbcType=VARCHAR},
      carInfoId = #{record.carinfoid,jdbcType=INTEGER},
      counselorId = #{record.counselorid,jdbcType=INTEGER},
      oil = #{record.oil,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      workTime = #{record.worktime,jdbcType=VARCHAR},
      getMan = #{record.getman,jdbcType=VARCHAR},
      overWorkDate = #{record.overworkdate,jdbcType=TIMESTAMP},
      setter = #{record.setter,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      beforedate = #{record.beforedate,jdbcType=TIMESTAMP},
      price = #{record.price,jdbcType=REAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      teamId = #{record.teamid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      completeDate = #{record.completedate,jdbcType=TIMESTAMP},
      settleDate = #{record.settledate,jdbcType=TIMESTAMP},
      pickDate = #{record.pickdate,jdbcType=TIMESTAMP},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.MaintainRepair" >
    update maintain_repair
    <set >
      <if test="carinfoid != null" >
        carInfoId = #{carinfoid,jdbcType=INTEGER},
      </if>
      <if test="counselorid != null" >
        counselorId = #{counselorid,jdbcType=INTEGER},
      </if>
      <if test="oil != null" >
        oil = #{oil,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="worktime != null" >
        workTime = #{worktime,jdbcType=VARCHAR},
      </if>
      <if test="getman != null" >
        getMan = #{getman,jdbcType=VARCHAR},
      </if>
      <if test="overworkdate != null" >
        overWorkDate = #{overworkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="setter != null" >
        setter = #{setter,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="beforedate != null" >
        beforedate = #{beforedate,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="teamid != null" >
        teamId = #{teamid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="completedate != null" >
        completeDate = #{completedate,jdbcType=TIMESTAMP},
      </if>
      <if test="settledate != null" >
        settleDate = #{settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="pickdate != null" >
        pickDate = #{pickdate,jdbcType=TIMESTAMP},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where number = #{number,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.MaintainRepair" >
    update maintain_repair
    set carInfoId = #{carinfoid,jdbcType=INTEGER},
      counselorId = #{counselorid,jdbcType=INTEGER},
      oil = #{oil,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      workTime = #{worktime,jdbcType=VARCHAR},
      getMan = #{getman,jdbcType=VARCHAR},
      overWorkDate = #{overworkdate,jdbcType=TIMESTAMP},
      setter = #{setter,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      beforedate = #{beforedate,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      teamId = #{teamid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      completeDate = #{completedate,jdbcType=TIMESTAMP},
      settleDate = #{settledate,jdbcType=TIMESTAMP},
      pickDate = #{pickdate,jdbcType=TIMESTAMP},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where number = #{number,jdbcType=VARCHAR}
  </update>
</mapper>