<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PersonnelStaffMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.PersonnelStaff" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="staffName" property="staffname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="did" property="did" jdbcType="INTEGER" />
    <result column="staffAccount" property="staffaccount" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="physicalCondition" property="physicalcondition" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="VARCHAR" />
    <result column="nativePlace" property="nativeplace" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="maritalStatus" property="maritalstatus" jdbcType="VARCHAR" />
    <result column="educationBackground" property="educationbackground" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="professionalQualification" property="professionalqualification" jdbcType="VARCHAR" />
    <result column="property" property="property" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="authorizedStrength" property="authorizedstrength" jdbcType="VARCHAR" />
    <result column="idCardNo" property="idcardno" jdbcType="VARCHAR" />
    <result column="residence" property="residence" jdbcType="VARCHAR" />
    <result column="presentAddress" property="presentaddress" jdbcType="VARCHAR" />
    <result column="contactNumber" property="contactnumber" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="depositBank" property="depositbank" jdbcType="VARCHAR" />
    <result column="banAccount" property="banaccount" jdbcType="VARCHAR" />
    <result column="emergencyContact" property="emergencycontact" jdbcType="VARCHAR" />
    <result column="emergencyPhone" property="emergencyphone" jdbcType="VARCHAR" />
    <result column="dateOnBoard" property="dateonboard" jdbcType="TIMESTAMP" />
    <result column="theTrialDue" property="thetrialdue" jdbcType="TIMESTAMP" />
    <result column="BirthdayDate" property="birthdaydate" jdbcType="TIMESTAMP" />
    <result column="contractStart" property="contractstart" jdbcType="TIMESTAMP" />
    <result column="agreementEnds" property="agreementends" jdbcType="TIMESTAMP" />
    <result column="cardNumber" property="cardnumber" jdbcType="VARCHAR" />
    <result column="internalCardNo" property="internalcardno" jdbcType="VARCHAR" />
    <result column="referrer" property="referrer" jdbcType="VARCHAR" />
    <result column="wholeOrderDiscountRight" property="wholeorderdiscountright" jdbcType="VARCHAR" />
    <result column="timeDiscountRight" property="timediscountright" jdbcType="VARCHAR" />
    <result column="rightToDiscount" property="righttodiscount" jdbcType="VARCHAR" />
    <result column="rightOfRelief" property="rightofrelief" jdbcType="VARCHAR" />
    <result column="jobResume" property="jobresume" jdbcType="VARCHAR" />
    <result column="educationExperience" property="educationexperience" jdbcType="VARCHAR" />
    <result column="memberOfFamily" property="memberoffamily" jdbcType="VARCHAR" />
    <result column="disciplinaryRecords" property="disciplinaryrecords" jdbcType="VARCHAR" />
    <result column="employmentAdvice" property="employmentadvice" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
    <result column="jurisdictionId" property="jurisdictionid" jdbcType="INTEGER" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>

  <!--通讯表-->
  <resultMap id="BaseResultMapTwo" type="com.accp.domain.PersonnelStaff" extends="BaseResultMap">
    <association property="personnelAddressbook" column="id" javaType="com.accp.domain.PersonnelAddressbook">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="department" property="department" jdbcType="VARCHAR" />
      <result column="staffId" property="staffid" jdbcType="INTEGER" />
      <result column="cornet" property="cornet" jdbcType="VARCHAR" />
      <result column="dialDirectly" property="dialdirectly" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="default1" property="default1" jdbcType="VARCHAR" />
      <result column="default2" property="default2" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <!--离职表-->
  <resultMap id="BaseResultMapThree" type="com.accp.domain.PersonnelStaff" extends="BaseResultMap">
    <association property="personnelDimission" column="id" javaType="com.accp.domain.PersonnelDimission">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="department" property="department" jdbcType="VARCHAR" />
      <result column="dimissionDate" property="dimissiondate" jdbcType="TIMESTAMP" />
      <result column="dimissionCause" property="dimissioncause" jdbcType="VARCHAR" />
      <result column="staffId" property="staffid" jdbcType="INTEGER" />
      <result column="default1" property="default1" jdbcType="VARCHAR" />
      <result column="default2" property="default2" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <!--通讯-->
  <select id="communicationSelect" resultMap="BaseResultMapTwo">
SELECT `personnel_addressbook`.*,`personnel_staff`.* FROM `personnel_addressbook`
INNER JOIN `personnel_staff` ON `personnel_staff`.id = `personnel_addressbook`.staffId
  </select>

  <select id="communicationSelectId" resultMap="BaseResultMapTwo">
SELECT `personnel_addressbook`.*,`personnel_staff`.* FROM `personnel_addressbook`
INNER JOIN `personnel_staff` ON `personnel_staff`.id = `personnel_addressbook`.staffId
WHERE `personnel_staff`.`id`=#{id} OR `personnel_staff`.`staffName`=#{staffname}
  </select>
  <!--离职-->
  <select id="departureSelect" resultMap="BaseResultMapThree">
SELECT `personnel_dimission`.*,`personnel_staff`.* FROM `personnel_staff`
INNER JOIN `personnel_dimission` ON `personnel_staff`.`id`=`personnel_dimission`.`staffId`
  </select>
  <select id="departureSelectId" resultMap="BaseResultMapThree">
SELECT `personnel_dimission`.*,`personnel_staff`.* FROM `personnel_staff`
INNER JOIN `personnel_dimission` ON `personnel_staff`.`id`=`personnel_dimission`.`staffId`
WHERE `personnel_staff`.`id`=#{id} OR `personnel_staff`.`staffName`=#{staffname}
  </select>




  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, staffName, sex, did, staffAccount, password, post, physicalCondition, height, 
    nativePlace, nation, maritalStatus, educationBackground, school, major, professionalQualification, 
    property, degree, authorizedStrength, idCardNo, residence, presentAddress, contactNumber, 
    phone, email, depositBank, banAccount, emergencyContact, emergencyPhone, dateOnBoard, 
    theTrialDue, BirthdayDate, contractStart, agreementEnds, cardNumber, internalCardNo, 
    referrer, wholeOrderDiscountRight, timeDiscountRight, rightToDiscount, rightOfRelief, 
    jobResume, educationExperience, memberOfFamily, disciplinaryRecords, employmentAdvice, 
    picture, roleId, jurisdictionId, default1, default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PersonnelStaffExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personnel_staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from personnel_staff
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from personnel_staff
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PersonnelStaffExample" >
    delete from personnel_staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.PersonnelStaff" >
    insert into personnel_staff (id, staffName, sex, 
      did, staffAccount, password, 
      post, physicalCondition, height, 
      nativePlace, nation, maritalStatus, 
      educationBackground, school, major, 
      professionalQualification, property, degree, 
      authorizedStrength, idCardNo, residence, 
      presentAddress, contactNumber, phone, 
      email, depositBank, banAccount, 
      emergencyContact, emergencyPhone, dateOnBoard, 
      theTrialDue, BirthdayDate, contractStart, 
      agreementEnds, cardNumber, internalCardNo, 
      referrer, wholeOrderDiscountRight, timeDiscountRight, 
      rightToDiscount, rightOfRelief, jobResume, 
      educationExperience, memberOfFamily, disciplinaryRecords, 
      employmentAdvice, picture, roleId, 
      jurisdictionId, default1, default2
      )
    values (#{id,jdbcType=VARCHAR}, #{staffname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{did,jdbcType=INTEGER}, #{staffaccount,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{physicalcondition,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, 
      #{nativeplace,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{maritalstatus,jdbcType=VARCHAR}, 
      #{educationbackground,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, 
      #{professionalqualification,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, 
      #{authorizedstrength,jdbcType=VARCHAR}, #{idcardno,jdbcType=VARCHAR}, #{residence,jdbcType=VARCHAR}, 
      #{presentaddress,jdbcType=VARCHAR}, #{contactnumber,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{depositbank,jdbcType=VARCHAR}, #{banaccount,jdbcType=VARCHAR}, 
      #{emergencycontact,jdbcType=VARCHAR}, #{emergencyphone,jdbcType=VARCHAR}, #{dateonboard,jdbcType=TIMESTAMP}, 
      #{thetrialdue,jdbcType=TIMESTAMP}, #{birthdaydate,jdbcType=TIMESTAMP}, #{contractstart,jdbcType=TIMESTAMP}, 
      #{agreementends,jdbcType=TIMESTAMP}, #{cardnumber,jdbcType=VARCHAR}, #{internalcardno,jdbcType=VARCHAR}, 
      #{referrer,jdbcType=VARCHAR}, #{wholeorderdiscountright,jdbcType=VARCHAR}, #{timediscountright,jdbcType=VARCHAR}, 
      #{righttodiscount,jdbcType=VARCHAR}, #{rightofrelief,jdbcType=VARCHAR}, #{jobresume,jdbcType=VARCHAR}, 
      #{educationexperience,jdbcType=VARCHAR}, #{memberoffamily,jdbcType=VARCHAR}, #{disciplinaryrecords,jdbcType=VARCHAR}, 
      #{employmentadvice,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}, 
      #{jurisdictionid,jdbcType=INTEGER}, #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.PersonnelStaff" >
    insert into personnel_staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="staffname != null" >
        staffName,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="did != null" >
        did,
      </if>
      <if test="staffaccount != null" >
        staffAccount,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="physicalcondition != null" >
        physicalCondition,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="nativeplace != null" >
        nativePlace,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="maritalstatus != null" >
        maritalStatus,
      </if>
      <if test="educationbackground != null" >
        educationBackground,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="professionalqualification != null" >
        professionalQualification,
      </if>
      <if test="property != null" >
        property,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="authorizedstrength != null" >
        authorizedStrength,
      </if>
      <if test="idcardno != null" >
        idCardNo,
      </if>
      <if test="residence != null" >
        residence,
      </if>
      <if test="presentaddress != null" >
        presentAddress,
      </if>
      <if test="contactnumber != null" >
        contactNumber,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="depositbank != null" >
        depositBank,
      </if>
      <if test="banaccount != null" >
        banAccount,
      </if>
      <if test="emergencycontact != null" >
        emergencyContact,
      </if>
      <if test="emergencyphone != null" >
        emergencyPhone,
      </if>
      <if test="dateonboard != null" >
        dateOnBoard,
      </if>
      <if test="thetrialdue != null" >
        theTrialDue,
      </if>
      <if test="birthdaydate != null" >
        BirthdayDate,
      </if>
      <if test="contractstart != null" >
        contractStart,
      </if>
      <if test="agreementends != null" >
        agreementEnds,
      </if>
      <if test="cardnumber != null" >
        cardNumber,
      </if>
      <if test="internalcardno != null" >
        internalCardNo,
      </if>
      <if test="referrer != null" >
        referrer,
      </if>
      <if test="wholeorderdiscountright != null" >
        wholeOrderDiscountRight,
      </if>
      <if test="timediscountright != null" >
        timeDiscountRight,
      </if>
      <if test="righttodiscount != null" >
        rightToDiscount,
      </if>
      <if test="rightofrelief != null" >
        rightOfRelief,
      </if>
      <if test="jobresume != null" >
        jobResume,
      </if>
      <if test="educationexperience != null" >
        educationExperience,
      </if>
      <if test="memberoffamily != null" >
        memberOfFamily,
      </if>
      <if test="disciplinaryrecords != null" >
        disciplinaryRecords,
      </if>
      <if test="employmentadvice != null" >
        employmentAdvice,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="jurisdictionid != null" >
        jurisdictionId,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="staffname != null" >
        #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="staffaccount != null" >
        #{staffaccount,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="physicalcondition != null" >
        #{physicalcondition,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null" >
        #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="maritalstatus != null" >
        #{maritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="educationbackground != null" >
        #{educationbackground,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="professionalqualification != null" >
        #{professionalqualification,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="authorizedstrength != null" >
        #{authorizedstrength,jdbcType=VARCHAR},
      </if>
      <if test="idcardno != null" >
        #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="residence != null" >
        #{residence,jdbcType=VARCHAR},
      </if>
      <if test="presentaddress != null" >
        #{presentaddress,jdbcType=VARCHAR},
      </if>
      <if test="contactnumber != null" >
        #{contactnumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="depositbank != null" >
        #{depositbank,jdbcType=VARCHAR},
      </if>
      <if test="banaccount != null" >
        #{banaccount,jdbcType=VARCHAR},
      </if>
      <if test="emergencycontact != null" >
        #{emergencycontact,jdbcType=VARCHAR},
      </if>
      <if test="emergencyphone != null" >
        #{emergencyphone,jdbcType=VARCHAR},
      </if>
      <if test="dateonboard != null" >
        #{dateonboard,jdbcType=TIMESTAMP},
      </if>
      <if test="thetrialdue != null" >
        #{thetrialdue,jdbcType=TIMESTAMP},
      </if>
      <if test="birthdaydate != null" >
        #{birthdaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractstart != null" >
        #{contractstart,jdbcType=TIMESTAMP},
      </if>
      <if test="agreementends != null" >
        #{agreementends,jdbcType=TIMESTAMP},
      </if>
      <if test="cardnumber != null" >
        #{cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="internalcardno != null" >
        #{internalcardno,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="wholeorderdiscountright != null" >
        #{wholeorderdiscountright,jdbcType=VARCHAR},
      </if>
      <if test="timediscountright != null" >
        #{timediscountright,jdbcType=VARCHAR},
      </if>
      <if test="righttodiscount != null" >
        #{righttodiscount,jdbcType=VARCHAR},
      </if>
      <if test="rightofrelief != null" >
        #{rightofrelief,jdbcType=VARCHAR},
      </if>
      <if test="jobresume != null" >
        #{jobresume,jdbcType=VARCHAR},
      </if>
      <if test="educationexperience != null" >
        #{educationexperience,jdbcType=VARCHAR},
      </if>
      <if test="memberoffamily != null" >
        #{memberoffamily,jdbcType=VARCHAR},
      </if>
      <if test="disciplinaryrecords != null" >
        #{disciplinaryrecords,jdbcType=VARCHAR},
      </if>
      <if test="employmentadvice != null" >
        #{employmentadvice,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="jurisdictionid != null" >
        #{jurisdictionid,jdbcType=INTEGER},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PersonnelStaffExample" resultType="java.lang.Integer" >
    select count(*) from personnel_staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personnel_staff
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.staffname != null" >
        staffName = #{record.staffname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.did != null" >
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.staffaccount != null" >
        staffAccount = #{record.staffaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null" >
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.physicalcondition != null" >
        physicalCondition = #{record.physicalcondition,jdbcType=VARCHAR},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=VARCHAR},
      </if>
      <if test="record.nativeplace != null" >
        nativePlace = #{record.nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.maritalstatus != null" >
        maritalStatus = #{record.maritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.educationbackground != null" >
        educationBackground = #{record.educationbackground,jdbcType=VARCHAR},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.professionalqualification != null" >
        professionalQualification = #{record.professionalqualification,jdbcType=VARCHAR},
      </if>
      <if test="record.property != null" >
        property = #{record.property,jdbcType=VARCHAR},
      </if>
      <if test="record.degree != null" >
        degree = #{record.degree,jdbcType=VARCHAR},
      </if>
      <if test="record.authorizedstrength != null" >
        authorizedStrength = #{record.authorizedstrength,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardno != null" >
        idCardNo = #{record.idcardno,jdbcType=VARCHAR},
      </if>
      <if test="record.residence != null" >
        residence = #{record.residence,jdbcType=VARCHAR},
      </if>
      <if test="record.presentaddress != null" >
        presentAddress = #{record.presentaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.contactnumber != null" >
        contactNumber = #{record.contactnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.depositbank != null" >
        depositBank = #{record.depositbank,jdbcType=VARCHAR},
      </if>
      <if test="record.banaccount != null" >
        banAccount = #{record.banaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.emergencycontact != null" >
        emergencyContact = #{record.emergencycontact,jdbcType=VARCHAR},
      </if>
      <if test="record.emergencyphone != null" >
        emergencyPhone = #{record.emergencyphone,jdbcType=VARCHAR},
      </if>
      <if test="record.dateonboard != null" >
        dateOnBoard = #{record.dateonboard,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thetrialdue != null" >
        theTrialDue = #{record.thetrialdue,jdbcType=TIMESTAMP},
      </if>
      <if test="record.birthdaydate != null" >
        BirthdayDate = #{record.birthdaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractstart != null" >
        contractStart = #{record.contractstart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.agreementends != null" >
        agreementEnds = #{record.agreementends,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cardnumber != null" >
        cardNumber = #{record.cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.internalcardno != null" >
        internalCardNo = #{record.internalcardno,jdbcType=VARCHAR},
      </if>
      <if test="record.referrer != null" >
        referrer = #{record.referrer,jdbcType=VARCHAR},
      </if>
      <if test="record.wholeorderdiscountright != null" >
        wholeOrderDiscountRight = #{record.wholeorderdiscountright,jdbcType=VARCHAR},
      </if>
      <if test="record.timediscountright != null" >
        timeDiscountRight = #{record.timediscountright,jdbcType=VARCHAR},
      </if>
      <if test="record.righttodiscount != null" >
        rightToDiscount = #{record.righttodiscount,jdbcType=VARCHAR},
      </if>
      <if test="record.rightofrelief != null" >
        rightOfRelief = #{record.rightofrelief,jdbcType=VARCHAR},
      </if>
      <if test="record.jobresume != null" >
        jobResume = #{record.jobresume,jdbcType=VARCHAR},
      </if>
      <if test="record.educationexperience != null" >
        educationExperience = #{record.educationexperience,jdbcType=VARCHAR},
      </if>
      <if test="record.memberoffamily != null" >
        memberOfFamily = #{record.memberoffamily,jdbcType=VARCHAR},
      </if>
      <if test="record.disciplinaryrecords != null" >
        disciplinaryRecords = #{record.disciplinaryrecords,jdbcType=VARCHAR},
      </if>
      <if test="record.employmentadvice != null" >
        employmentAdvice = #{record.employmentadvice,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        roleId = #{record.roleid,jdbcType=INTEGER},
      </if>
      <if test="record.jurisdictionid != null" >
        jurisdictionId = #{record.jurisdictionid,jdbcType=INTEGER},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personnel_staff
    set id = #{record.id,jdbcType=VARCHAR},
      staffName = #{record.staffname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      did = #{record.did,jdbcType=INTEGER},
      staffAccount = #{record.staffaccount,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      physicalCondition = #{record.physicalcondition,jdbcType=VARCHAR},
      height = #{record.height,jdbcType=VARCHAR},
      nativePlace = #{record.nativeplace,jdbcType=VARCHAR},
      nation = #{record.nation,jdbcType=VARCHAR},
      maritalStatus = #{record.maritalstatus,jdbcType=VARCHAR},
      educationBackground = #{record.educationbackground,jdbcType=VARCHAR},
      school = #{record.school,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=VARCHAR},
      professionalQualification = #{record.professionalqualification,jdbcType=VARCHAR},
      property = #{record.property,jdbcType=VARCHAR},
      degree = #{record.degree,jdbcType=VARCHAR},
      authorizedStrength = #{record.authorizedstrength,jdbcType=VARCHAR},
      idCardNo = #{record.idcardno,jdbcType=VARCHAR},
      residence = #{record.residence,jdbcType=VARCHAR},
      presentAddress = #{record.presentaddress,jdbcType=VARCHAR},
      contactNumber = #{record.contactnumber,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      depositBank = #{record.depositbank,jdbcType=VARCHAR},
      banAccount = #{record.banaccount,jdbcType=VARCHAR},
      emergencyContact = #{record.emergencycontact,jdbcType=VARCHAR},
      emergencyPhone = #{record.emergencyphone,jdbcType=VARCHAR},
      dateOnBoard = #{record.dateonboard,jdbcType=TIMESTAMP},
      theTrialDue = #{record.thetrialdue,jdbcType=TIMESTAMP},
      BirthdayDate = #{record.birthdaydate,jdbcType=TIMESTAMP},
      contractStart = #{record.contractstart,jdbcType=TIMESTAMP},
      agreementEnds = #{record.agreementends,jdbcType=TIMESTAMP},
      cardNumber = #{record.cardnumber,jdbcType=VARCHAR},
      internalCardNo = #{record.internalcardno,jdbcType=VARCHAR},
      referrer = #{record.referrer,jdbcType=VARCHAR},
      wholeOrderDiscountRight = #{record.wholeorderdiscountright,jdbcType=VARCHAR},
      timeDiscountRight = #{record.timediscountright,jdbcType=VARCHAR},
      rightToDiscount = #{record.righttodiscount,jdbcType=VARCHAR},
      rightOfRelief = #{record.rightofrelief,jdbcType=VARCHAR},
      jobResume = #{record.jobresume,jdbcType=VARCHAR},
      educationExperience = #{record.educationexperience,jdbcType=VARCHAR},
      memberOfFamily = #{record.memberoffamily,jdbcType=VARCHAR},
      disciplinaryRecords = #{record.disciplinaryrecords,jdbcType=VARCHAR},
      employmentAdvice = #{record.employmentadvice,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      roleId = #{record.roleid,jdbcType=INTEGER},
      jurisdictionId = #{record.jurisdictionid,jdbcType=INTEGER},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.PersonnelStaff" >
    update personnel_staff
    <set >
      <if test="staffname != null" >
        staffName = #{staffname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="staffaccount != null" >
        staffAccount = #{staffaccount,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="physicalcondition != null" >
        physicalCondition = #{physicalcondition,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null" >
        nativePlace = #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="maritalstatus != null" >
        maritalStatus = #{maritalstatus,jdbcType=VARCHAR},
      </if>
      <if test="educationbackground != null" >
        educationBackground = #{educationbackground,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="professionalqualification != null" >
        professionalQualification = #{professionalqualification,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="authorizedstrength != null" >
        authorizedStrength = #{authorizedstrength,jdbcType=VARCHAR},
      </if>
      <if test="idcardno != null" >
        idCardNo = #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="residence != null" >
        residence = #{residence,jdbcType=VARCHAR},
      </if>
      <if test="presentaddress != null" >
        presentAddress = #{presentaddress,jdbcType=VARCHAR},
      </if>
      <if test="contactnumber != null" >
        contactNumber = #{contactnumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="depositbank != null" >
        depositBank = #{depositbank,jdbcType=VARCHAR},
      </if>
      <if test="banaccount != null" >
        banAccount = #{banaccount,jdbcType=VARCHAR},
      </if>
      <if test="emergencycontact != null" >
        emergencyContact = #{emergencycontact,jdbcType=VARCHAR},
      </if>
      <if test="emergencyphone != null" >
        emergencyPhone = #{emergencyphone,jdbcType=VARCHAR},
      </if>
      <if test="dateonboard != null" >
        dateOnBoard = #{dateonboard,jdbcType=TIMESTAMP},
      </if>
      <if test="thetrialdue != null" >
        theTrialDue = #{thetrialdue,jdbcType=TIMESTAMP},
      </if>
      <if test="birthdaydate != null" >
        BirthdayDate = #{birthdaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractstart != null" >
        contractStart = #{contractstart,jdbcType=TIMESTAMP},
      </if>
      <if test="agreementends != null" >
        agreementEnds = #{agreementends,jdbcType=TIMESTAMP},
      </if>
      <if test="cardnumber != null" >
        cardNumber = #{cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="internalcardno != null" >
        internalCardNo = #{internalcardno,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        referrer = #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="wholeorderdiscountright != null" >
        wholeOrderDiscountRight = #{wholeorderdiscountright,jdbcType=VARCHAR},
      </if>
      <if test="timediscountright != null" >
        timeDiscountRight = #{timediscountright,jdbcType=VARCHAR},
      </if>
      <if test="righttodiscount != null" >
        rightToDiscount = #{righttodiscount,jdbcType=VARCHAR},
      </if>
      <if test="rightofrelief != null" >
        rightOfRelief = #{rightofrelief,jdbcType=VARCHAR},
      </if>
      <if test="jobresume != null" >
        jobResume = #{jobresume,jdbcType=VARCHAR},
      </if>
      <if test="educationexperience != null" >
        educationExperience = #{educationexperience,jdbcType=VARCHAR},
      </if>
      <if test="memberoffamily != null" >
        memberOfFamily = #{memberoffamily,jdbcType=VARCHAR},
      </if>
      <if test="disciplinaryrecords != null" >
        disciplinaryRecords = #{disciplinaryrecords,jdbcType=VARCHAR},
      </if>
      <if test="employmentadvice != null" >
        employmentAdvice = #{employmentadvice,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="jurisdictionid != null" >
        jurisdictionId = #{jurisdictionid,jdbcType=INTEGER},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.PersonnelStaff" >
    update personnel_staff
    set staffName = #{staffname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER},
      staffAccount = #{staffaccount,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      physicalCondition = #{physicalcondition,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      nativePlace = #{nativeplace,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      maritalStatus = #{maritalstatus,jdbcType=VARCHAR},
      educationBackground = #{educationbackground,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      professionalQualification = #{professionalqualification,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      authorizedStrength = #{authorizedstrength,jdbcType=VARCHAR},
      idCardNo = #{idcardno,jdbcType=VARCHAR},
      residence = #{residence,jdbcType=VARCHAR},
      presentAddress = #{presentaddress,jdbcType=VARCHAR},
      contactNumber = #{contactnumber,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      depositBank = #{depositbank,jdbcType=VARCHAR},
      banAccount = #{banaccount,jdbcType=VARCHAR},
      emergencyContact = #{emergencycontact,jdbcType=VARCHAR},
      emergencyPhone = #{emergencyphone,jdbcType=VARCHAR},
      dateOnBoard = #{dateonboard,jdbcType=TIMESTAMP},
      theTrialDue = #{thetrialdue,jdbcType=TIMESTAMP},
      BirthdayDate = #{birthdaydate,jdbcType=TIMESTAMP},
      contractStart = #{contractstart,jdbcType=TIMESTAMP},
      agreementEnds = #{agreementends,jdbcType=TIMESTAMP},
      cardNumber = #{cardnumber,jdbcType=VARCHAR},
      internalCardNo = #{internalcardno,jdbcType=VARCHAR},
      referrer = #{referrer,jdbcType=VARCHAR},
      wholeOrderDiscountRight = #{wholeorderdiscountright,jdbcType=VARCHAR},
      timeDiscountRight = #{timediscountright,jdbcType=VARCHAR},
      rightToDiscount = #{righttodiscount,jdbcType=VARCHAR},
      rightOfRelief = #{rightofrelief,jdbcType=VARCHAR},
      jobResume = #{jobresume,jdbcType=VARCHAR},
      educationExperience = #{educationexperience,jdbcType=VARCHAR},
      memberOfFamily = #{memberoffamily,jdbcType=VARCHAR},
      disciplinaryRecords = #{disciplinaryrecords,jdbcType=VARCHAR},
      employmentAdvice = #{employmentadvice,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      roleId = #{roleid,jdbcType=INTEGER},
      jurisdictionId = #{jurisdictionid,jdbcType=INTEGER},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>