<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PersonnelLegworkcatMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.PersonnelLegworkcat" >
    <id column="legworkCatId" property="legworkcatid" jdbcType="INTEGER" />
    <result column="licensePlateNumber" property="licenseplatenumber" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="mileage" property="mileage" jdbcType="VARCHAR" />
    <result column="artisanclassId" property="artisanclassid" jdbcType="INTEGER" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>
  <!--班组-->
  <resultMap id="BaseResultMapFive" type="com.accp.domain.PersonnelLegworkcat" extends="BaseResultMap">
    <association property="personnelArtisanclass" column="artisanclassid" javaType="com.accp.domain.PersonnelArtisanclass">
      <id column="artisanClassId" property="artisanclassid" jdbcType="INTEGER" />
      <result column="artisanClassName" property="artisanclassname" jdbcType="VARCHAR" />
      <result column="artisanClassWeight" property="artisanclassweight" jdbcType="VARCHAR" />
      <result column="parentId" property="parentid" jdbcType="INTEGER" />
      <result column="instationWhite" property="instationwhite" jdbcType="VARCHAR" />
      <result column="instationBlack" property="instationblack" jdbcType="VARCHAR" />
      <result column="outsideWhite" property="outsidewhite" jdbcType="VARCHAR" />
      <result column="outsideBlack" property="outsideblack" jdbcType="VARCHAR" />
      <result column="wayWhite" property="waywhite" jdbcType="VARCHAR" />
      <result column="wayBlack" property="wayblack" jdbcType="VARCHAR" />
      <result column="oilCost" property="oilcost" jdbcType="VARCHAR" />
      <result column="default1" property="default1" jdbcType="VARCHAR" />
      <result column="default2" property="default2" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <!--外勤车辆-->
  <select id="fieldSelect" resultMap="BaseResultMapFive">
SELECT `personnel_legworkcat`.*,`personnel_artisanclass`.* FROM `personnel_legworkcat`
INNER JOIN `personnel_artisanclass` ON `personnel_legworkcat`.`artisanclassId`=`personnel_artisanclass`.`artisanClassId`
  </select>




  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    legworkCatId, licensePlateNumber, brand, model, mileage, artisanclassId, default1, 
    default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PersonnelLegworkcatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personnel_legworkcat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from personnel_legworkcat
    where legworkCatId = #{legworkcatid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from personnel_legworkcat
    where legworkCatId = #{legworkcatid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PersonnelLegworkcatExample" >
    delete from personnel_legworkcat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.PersonnelLegworkcat" >
    insert into personnel_legworkcat (legworkCatId, licensePlateNumber, 
      brand, model, mileage, 
      artisanclassId, default1, default2
      )
    values (#{legworkcatid,jdbcType=INTEGER}, #{licenseplatenumber,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{mileage,jdbcType=VARCHAR}, 
      #{artisanclassid,jdbcType=INTEGER}, #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.PersonnelLegworkcat" >
    insert into personnel_legworkcat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="legworkcatid != null" >
        legworkCatId,
      </if>
      <if test="licenseplatenumber != null" >
        licensePlateNumber,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="artisanclassid != null" >
        artisanclassId,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="legworkcatid != null" >
        #{legworkcatid,jdbcType=INTEGER},
      </if>
      <if test="licenseplatenumber != null" >
        #{licenseplatenumber,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="artisanclassid != null" >
        #{artisanclassid,jdbcType=INTEGER},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PersonnelLegworkcatExample" resultType="java.lang.Integer" >
    select count(*) from personnel_legworkcat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personnel_legworkcat
    <set >
      <if test="record.legworkcatid != null" >
        legworkCatId = #{record.legworkcatid,jdbcType=INTEGER},
      </if>
      <if test="record.licenseplatenumber != null" >
        licensePlateNumber = #{record.licenseplatenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null" >
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.mileage != null" >
        mileage = #{record.mileage,jdbcType=VARCHAR},
      </if>
      <if test="record.artisanclassid != null" >
        artisanclassId = #{record.artisanclassid,jdbcType=INTEGER},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personnel_legworkcat
    set legworkCatId = #{record.legworkcatid,jdbcType=INTEGER},
      licensePlateNumber = #{record.licenseplatenumber,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      mileage = #{record.mileage,jdbcType=VARCHAR},
      artisanclassId = #{record.artisanclassid,jdbcType=INTEGER},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.PersonnelLegworkcat" >
    update personnel_legworkcat
    <set >
      <if test="licenseplatenumber != null" >
        licensePlateNumber = #{licenseplatenumber,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=VARCHAR},
      </if>
      <if test="artisanclassid != null" >
        artisanclassId = #{artisanclassid,jdbcType=INTEGER},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where legworkCatId = #{legworkcatid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.PersonnelLegworkcat" >
    update personnel_legworkcat
    set licensePlateNumber = #{licenseplatenumber,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=VARCHAR},
      artisanclassId = #{artisanclassid,jdbcType=INTEGER},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where legworkCatId = #{legworkcatid,jdbcType=INTEGER}
  </update>
</mapper>