<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PersonnelArtisanMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.PersonnelArtisan" >
    <id column="artisanId" property="artisanid" jdbcType="VARCHAR" />
    <result column="artisanName" property="artisanname" jdbcType="VARCHAR" />
    <result column="artisanSex" property="artisansex" jdbcType="VARCHAR" />
    <result column="artisanClassId" property="artisanclassid" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="WeChat" property="wechat" jdbcType="VARCHAR" />
    <result column="identityCard" property="identitycard" jdbcType="VARCHAR" />
    <result column="residence" property="residence" jdbcType="VARCHAR" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="bankAccount" property="bankaccount" jdbcType="VARCHAR" />
    <result column="artisanLevelId" property="artisanlevelid" jdbcType="INTEGER" />
    <result column="groupLeader" property="groupleader" jdbcType="BIT" />
    <result column="maintainType" property="maintaintype" jdbcType="VARCHAR" />
    <result column="maintainBrand" property="maintainbrand" jdbcType="VARCHAR" />
    <result column="jurisdictionId" property="jurisdictionid" jdbcType="INTEGER" />
    <result column="default1" property="default1" jdbcType="VARCHAR" />
    <result column="default2" property="default2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    artisanId, artisanName, artisanSex, artisanClassId, phone, account, address, birthday, 
    WeChat, identityCard, residence, bank, bankAccount, artisanLevelId, groupLeader, 
    maintainType, maintainBrand, jurisdictionId, default1, default2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PersonnelArtisanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personnel_artisan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from personnel_artisan
    where artisanId = #{artisanid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from personnel_artisan
    where artisanId = #{artisanid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PersonnelArtisanExample" >
    delete from personnel_artisan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.PersonnelArtisan" >
    insert into personnel_artisan (artisanId, artisanName, artisanSex, 
      artisanClassId, phone, account, 
      address, birthday, WeChat, 
      identityCard, residence, bank, 
      bankAccount, artisanLevelId, groupLeader, 
      maintainType, maintainBrand, jurisdictionId, 
      default1, default2)
    values (#{artisanid,jdbcType=VARCHAR}, #{artisanname,jdbcType=VARCHAR}, #{artisansex,jdbcType=VARCHAR}, 
      #{artisanclassid,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{wechat,jdbcType=VARCHAR}, 
      #{identitycard,jdbcType=VARCHAR}, #{residence,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{bankaccount,jdbcType=VARCHAR}, #{artisanlevelid,jdbcType=INTEGER}, #{groupleader,jdbcType=BIT}, 
      #{maintaintype,jdbcType=VARCHAR}, #{maintainbrand,jdbcType=VARCHAR}, #{jurisdictionid,jdbcType=INTEGER}, 
      #{default1,jdbcType=VARCHAR}, #{default2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.PersonnelArtisan" >
    insert into personnel_artisan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="artisanid != null" >
        artisanId,
      </if>
      <if test="artisanname != null" >
        artisanName,
      </if>
      <if test="artisansex != null" >
        artisanSex,
      </if>
      <if test="artisanclassid != null" >
        artisanClassId,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="wechat != null" >
        WeChat,
      </if>
      <if test="identitycard != null" >
        identityCard,
      </if>
      <if test="residence != null" >
        residence,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="bankaccount != null" >
        bankAccount,
      </if>
      <if test="artisanlevelid != null" >
        artisanLevelId,
      </if>
      <if test="groupleader != null" >
        groupLeader,
      </if>
      <if test="maintaintype != null" >
        maintainType,
      </if>
      <if test="maintainbrand != null" >
        maintainBrand,
      </if>
      <if test="jurisdictionid != null" >
        jurisdictionId,
      </if>
      <if test="default1 != null" >
        default1,
      </if>
      <if test="default2 != null" >
        default2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="artisanid != null" >
        #{artisanid,jdbcType=VARCHAR},
      </if>
      <if test="artisanname != null" >
        #{artisanname,jdbcType=VARCHAR},
      </if>
      <if test="artisansex != null" >
        #{artisansex,jdbcType=VARCHAR},
      </if>
      <if test="artisanclassid != null" >
        #{artisanclassid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="identitycard != null" >
        #{identitycard,jdbcType=VARCHAR},
      </if>
      <if test="residence != null" >
        #{residence,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="artisanlevelid != null" >
        #{artisanlevelid,jdbcType=INTEGER},
      </if>
      <if test="groupleader != null" >
        #{groupleader,jdbcType=BIT},
      </if>
      <if test="maintaintype != null" >
        #{maintaintype,jdbcType=VARCHAR},
      </if>
      <if test="maintainbrand != null" >
        #{maintainbrand,jdbcType=VARCHAR},
      </if>
      <if test="jurisdictionid != null" >
        #{jurisdictionid,jdbcType=INTEGER},
      </if>
      <if test="default1 != null" >
        #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        #{default2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PersonnelArtisanExample" resultType="java.lang.Integer" >
    select count(*) from personnel_artisan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personnel_artisan
    <set >
      <if test="record.artisanid != null" >
        artisanId = #{record.artisanid,jdbcType=VARCHAR},
      </if>
      <if test="record.artisanname != null" >
        artisanName = #{record.artisanname,jdbcType=VARCHAR},
      </if>
      <if test="record.artisansex != null" >
        artisanSex = #{record.artisansex,jdbcType=VARCHAR},
      </if>
      <if test="record.artisanclassid != null" >
        artisanClassId = #{record.artisanclassid,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wechat != null" >
        WeChat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.identitycard != null" >
        identityCard = #{record.identitycard,jdbcType=VARCHAR},
      </if>
      <if test="record.residence != null" >
        residence = #{record.residence,jdbcType=VARCHAR},
      </if>
      <if test="record.bank != null" >
        bank = #{record.bank,jdbcType=VARCHAR},
      </if>
      <if test="record.bankaccount != null" >
        bankAccount = #{record.bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.artisanlevelid != null" >
        artisanLevelId = #{record.artisanlevelid,jdbcType=INTEGER},
      </if>
      <if test="record.groupleader != null" >
        groupLeader = #{record.groupleader,jdbcType=BIT},
      </if>
      <if test="record.maintaintype != null" >
        maintainType = #{record.maintaintype,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainbrand != null" >
        maintainBrand = #{record.maintainbrand,jdbcType=VARCHAR},
      </if>
      <if test="record.jurisdictionid != null" >
        jurisdictionId = #{record.jurisdictionid,jdbcType=INTEGER},
      </if>
      <if test="record.default1 != null" >
        default1 = #{record.default1,jdbcType=VARCHAR},
      </if>
      <if test="record.default2 != null" >
        default2 = #{record.default2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personnel_artisan
    set artisanId = #{record.artisanid,jdbcType=VARCHAR},
      artisanName = #{record.artisanname,jdbcType=VARCHAR},
      artisanSex = #{record.artisansex,jdbcType=VARCHAR},
      artisanClassId = #{record.artisanclassid,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      WeChat = #{record.wechat,jdbcType=VARCHAR},
      identityCard = #{record.identitycard,jdbcType=VARCHAR},
      residence = #{record.residence,jdbcType=VARCHAR},
      bank = #{record.bank,jdbcType=VARCHAR},
      bankAccount = #{record.bankaccount,jdbcType=VARCHAR},
      artisanLevelId = #{record.artisanlevelid,jdbcType=INTEGER},
      groupLeader = #{record.groupleader,jdbcType=BIT},
      maintainType = #{record.maintaintype,jdbcType=VARCHAR},
      maintainBrand = #{record.maintainbrand,jdbcType=VARCHAR},
      jurisdictionId = #{record.jurisdictionid,jdbcType=INTEGER},
      default1 = #{record.default1,jdbcType=VARCHAR},
      default2 = #{record.default2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.PersonnelArtisan" >
    update personnel_artisan
    <set >
      <if test="artisanname != null" >
        artisanName = #{artisanname,jdbcType=VARCHAR},
      </if>
      <if test="artisansex != null" >
        artisanSex = #{artisansex,jdbcType=VARCHAR},
      </if>
      <if test="artisanclassid != null" >
        artisanClassId = #{artisanclassid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="wechat != null" >
        WeChat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="identitycard != null" >
        identityCard = #{identitycard,jdbcType=VARCHAR},
      </if>
      <if test="residence != null" >
        residence = #{residence,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        bankAccount = #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="artisanlevelid != null" >
        artisanLevelId = #{artisanlevelid,jdbcType=INTEGER},
      </if>
      <if test="groupleader != null" >
        groupLeader = #{groupleader,jdbcType=BIT},
      </if>
      <if test="maintaintype != null" >
        maintainType = #{maintaintype,jdbcType=VARCHAR},
      </if>
      <if test="maintainbrand != null" >
        maintainBrand = #{maintainbrand,jdbcType=VARCHAR},
      </if>
      <if test="jurisdictionid != null" >
        jurisdictionId = #{jurisdictionid,jdbcType=INTEGER},
      </if>
      <if test="default1 != null" >
        default1 = #{default1,jdbcType=VARCHAR},
      </if>
      <if test="default2 != null" >
        default2 = #{default2,jdbcType=VARCHAR},
      </if>
    </set>
    where artisanId = #{artisanid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.PersonnelArtisan" >
    update personnel_artisan
    set artisanName = #{artisanname,jdbcType=VARCHAR},
      artisanSex = #{artisansex,jdbcType=VARCHAR},
      artisanClassId = #{artisanclassid,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      WeChat = #{wechat,jdbcType=VARCHAR},
      identityCard = #{identitycard,jdbcType=VARCHAR},
      residence = #{residence,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      bankAccount = #{bankaccount,jdbcType=VARCHAR},
      artisanLevelId = #{artisanlevelid,jdbcType=INTEGER},
      groupLeader = #{groupleader,jdbcType=BIT},
      maintainType = #{maintaintype,jdbcType=VARCHAR},
      maintainBrand = #{maintainbrand,jdbcType=VARCHAR},
      jurisdictionId = #{jurisdictionid,jdbcType=INTEGER},
      default1 = #{default1,jdbcType=VARCHAR},
      default2 = #{default2,jdbcType=VARCHAR}
    where artisanId = #{artisanid,jdbcType=VARCHAR}
  </update>
</mapper>